openapi: 3.2.0
info:
  title: Konnect API - Go SDK Custom Plugin Schemas API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- description: Custom Plugin Schemas
  name: Custom Plugin Schemas
paths:
  /v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-plugin-schemas
      summary: List Custom Plugin Schemas
      description: Returns an array of custom plugins schemas associated with a control plane.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/list-plugin-schemas'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Custom Plugin Schemas
    post:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayCustomPluginSchema#create
        terraform-datasource: null
      operationId: create-plugin-schemas
      summary: Upload custom plugin schema
      description: Upload a custom plugin schema associated with a control plane.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '201':
          $ref: '#/components/responses/plugin-schemas'
        '400':
          $ref: '#/components/responses/KonnectCPLegacyBadRequest'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '409':
          $ref: '#/components/responses/KonnectCPLegacyConflict'
      tags:
      - Custom Plugin Schemas
  /v2/control-planes/{controlPlaneId}/core-entities/plugin-schemas/{name}:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - name: name
      in: path
      description: The custom plugin name
      required: true
      schema:
        type: string
        example: myplugin
    get:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayCustomPluginSchema#read
        terraform-datasource: null
      operationId: get-plugin-schema
      summary: Get a custom plugin schema
      description: Returns information about a custom plugin from a given name.
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - Custom Plugin Schemas
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayCustomPluginSchema#delete
        terraform-datasource: null
      operationId: delete-plugin-schemas
      summary: Delete custom plugin schema
      description: Delete an individual custom plugin schema.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - Custom Plugin Schemas
    put:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayCustomPluginSchema#update
        terraform-datasource: null
      operationId: update-plugin-schemas
      summary: Create or update a custom plugin schema
      description: Create or update an individual custom plugin schema.
      requestBody:
        $ref: '#/components/requestBodies/create-plugin-schemas'
      responses:
        '200':
          $ref: '#/components/responses/plugin-schemas'
        '400':
          $ref: '#/components/responses/KonnectCPLegacyBadRequest'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - Custom Plugin Schemas
components:
  schemas:
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    KonnectCPLegacyBaseError:
      description: standard error
      type: object
      properties:
        message:
          description: 'A short summary of the problem.

            '
          type: string
          readOnly: true
      title: Error
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    KonnectCPLegacyConflictError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Conflict
    KonnectCPLegacyBadRequestError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Bad Request
    KonnectCPLegacyNotFoundError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Not Found
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    KonnectCPLegacyUnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Unauthorized
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    KonnectCPLegacyForbiddenError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Forbidden
  responses:
    KonnectCPLegacyForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyForbiddenError'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    KonnectCPLegacyConflict:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyConflictError'
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    list-plugin-schemas:
      description: A paginated list response for a collection of custom plugin schemas.
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  type: object
                  properties:
                    lua_schema:
                      description: The custom plugin schema; `jq -Rs '.' schema.lua`.
                      type: string
                      example: return { name = \"myplugin\", fields = { { config = { type = \"record\", fields = { } } } } }
                    name:
                      description: The custom plugin name determined by the custom plugin schema.
                      type: string
                      example: myplugin
                    created_at:
                      description: An ISO-8604 timestamp representation of custom plugin schema creation date.
                      type: integer
                      example: 1422386534
                    updated_at:
                      description: An ISO-8604 timestamp representation of custom plugin schema update date.
                      type: integer
                      example: 1422412345
              page:
                type: object
                properties:
                  total:
                    type: integer
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    KonnectCPLegacyBadRequest:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyBadRequestError'
    KonnectCPLegacyUnauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyUnauthorizedError'
    plugin-schemas:
      description: A response for a single custom plugin schema.
      content:
        application/json:
          schema:
            type: object
            properties:
              item:
                x-speakeasy-entity: GatewayCustomPluginSchema
                type: object
                properties:
                  lua_schema:
                    description: The custom plugin schema; `jq -Rs '.' schema.lua`.
                    type: string
                    example: return { name = \"myplugin\", fields = { { config = { type = \"record\", fields = { } } } } }
                  name:
                    description: The custom plugin name determined by the custom plugin schema.
                    type: string
                    example: myplugin
                  created_at:
                    description: An ISO-8604 timestamp representation of custom plugin schema creation date.
                    type: integer
                    example: 1422386534
                  updated_at:
                    description: An ISO-8604 timestamp representation of custom plugin schema update date.
                    type: integer
                    example: 1422412345
    KonnectCPLegacyNotFound:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyNotFoundError'
  parameters:
    PageAfter:
      name: page[after]
      description: Request the next page of data, starting with the item after this parameter.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
  requestBodies:
    create-plugin-schemas:
      content:
        application/json:
          schema:
            x-speakeasy-entity: GatewayCustomPluginSchema
            type: object
            properties:
              lua_schema:
                description: 'The custom plugin schema; `jq -Rs ''.'' schema.lua`.

                  '
                type: string
                example: return { name = "myplugin", fields = { { config = { type = "record", fields = { } } } } }
            required:
            - lua_schema
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
