openapi: 3.2.0
info:
  title: Konnect API - Go SDK Schemas API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: Schemas
paths:
  /v2/control-planes/{controlPlaneId}/core-entities/schemas/{entityName}/validate:
    parameters:
    - name: entityName
      in: path
      description: The name of the entity
      required: true
      schema:
        type: string
    - $ref: '#/components/parameters/controlPlaneId'
    post:
      operationId: validate-entity-schema
      summary: Validate entity schema
      description: Validate schema for an entity
      requestBody:
        description: Request body of a Koko entity to validate against its schema
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          $ref: '#/components/responses/ValidateEntityResponse'
      tags:
      - Schemas
  /v2/control-planes/{controlPlaneId}/core-entities/schemas/partials/{partialType}:
    parameters:
    - name: partialType
      in: path
      description: The type of a partial
      required: true
      schema:
        type: string
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: fetch-partial-schema
      summary: Get partial schema
      description: Get the schema for a partial
      responses:
        '200':
          $ref: '#/components/responses/GetPartialSchemaResponse'
      tags:
      - Schemas
components:
  responses:
    GetPartialSchemaResponse:
      description: The schema for a partial
      content:
        application/json:
          schema:
            type: object
            properties:
              fields:
                type: array
                items:
                  additionalProperties: true
                  type: object
    ValidateEntityResponse:
      description: Validation result of the request against a schema
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string
  parameters:
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
