openapi: 3.2.0
info:
  title: Konnect API - Go SDK Scorecards API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: Scorecards
  description: 'A scorecard helps you evaluate services based on its criteria.

    Scorecards help you detect issues, like whether there are services in the catalog that don''t have an on-call engineer assigned, or if you have GitHub repositories with stale pull requests that aren''t getting reviewed or closed.

    From the scorecard, you can view details on either a per-service or per-criteria basis.

    Learn more about scorecards by visiting our [documentation](https://developer.konghq.com/service-catalog/scorecards/).

    '
paths:
  /v1/catalog-services/{id}/scorecards:
    parameters:
    - name: id
      in: path
      description: The `id` of the service.
      required: true
      schema:
        type: string
        example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    get:
      operationId: list-catalog-service-scorecards
      summary: List Catalog Service Scorecards
      description: Returns a paginated collection of scorecards targeting the given service.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardFilter'
      - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogServiceScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
  /v1/catalog-services/{serviceId}/scorecards/{scorecardId}:
    parameters:
    - name: serviceId
      in: path
      description: The `id` of the service.
      required: true
      schema:
        type: string
        example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
    - name: scorecardId
      in: path
      description: The `id` of the scorecard.
      required: true
      schema:
        type: string
        format: uuid
        example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-catalog-service-scorecard
      summary: Get a Catalog Service Scorecard
      description: Fetches the given scorecard targeting the service.
      responses:
        '200':
          $ref: '#/components/responses/CatalogServiceScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
  /v1/scorecard-templates:
    get:
      operationId: list-scorecard-templates
      summary: List Scorecard Templates
      description: Returns a paginated collection of scorecard templates.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardTemplateFilter'
      - $ref: '#/components/parameters/ScorecardTemplateSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardTemplatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Scorecards
  /v1/scorecards:
    post:
      operationId: create-scorecard
      summary: Create Scorecard
      description: Creates a scorecard.
      requestBody:
        $ref: '#/components/requestBodies/CreateScorecardRequest'
      responses:
        '201':
          $ref: '#/components/responses/ScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Scorecards
    get:
      operationId: list-scorecards
      summary: List Scorecards
      description: Returns a paginated collection of scorecards.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardFilter'
      - $ref: '#/components/parameters/ScorecardSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Scorecards
  /v1/scorecards/{id}:
    parameters:
    - name: id
      in: path
      description: The `id` of the scorecard.
      required: true
      schema:
        type: string
        format: uuid
        example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: fetch-scorecard
      summary: Get a Scorecard
      description: Fetches a scorecard.
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
    put:
      operationId: update-scorecard
      summary: Update Scorecard
      description: Updates a scorecard.
      requestBody:
        $ref: '#/components/requestBodies/UpdateScorecardRequest'
      responses:
        '200':
          $ref: '#/components/responses/ScorecardResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
    delete:
      operationId: delete-scorecard
      summary: Delete Scorecard
      description: Deletes a scorecard.
      responses:
        '204':
          description: Scorecard was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
  /v1/scorecards/{id}/catalog-services:
    parameters:
    - name: id
      in: path
      description: The `id` of the scorecard.
      required: true
      schema:
        type: string
        format: uuid
        example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: list-scorecard-services
      summary: List Scorecard Services
      description: Lists services targeted by a scorecard.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardServiceFilter'
      - $ref: '#/components/parameters/ScorecardServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardServicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
  /v1/scorecards/{id}/criteria:
    parameters:
    - name: id
      in: path
      description: The `id` of the scorecard.
      required: true
      schema:
        type: string
        format: uuid
        example: f3704e4c-104d-4f21-998a-20d4364c893f
    get:
      operationId: list-scorecard-criteria
      summary: List Scorecard Criteria
      description: Lists criteria, including passing service counts, belonging to a scorecard.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardCriteriaFilter'
      - $ref: '#/components/parameters/ScorecardCriteriaSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardCriteriaResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
  /v1/scorecards/{scorecardId}/criteria/{criteriaId}/catalog-services:
    parameters:
    - name: scorecardId
      in: path
      description: The `id` of the scorecard.
      required: true
      schema:
        type: string
        format: uuid
        example: f3704e4c-104d-4f21-998a-20d4364c893f
    - name: criteriaId
      in: path
      description: The `id` of the criteria.
      required: true
      schema:
        type: string
        format: uuid
        example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
    get:
      operationId: list-scorecard-criteria-services
      summary: List Scorecard Criteria Services
      description: Lists services targeted by a scorecard criteria with evaluation results per-service.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ScorecardCriteriaServiceFilter'
      - $ref: '#/components/parameters/ScorecardCriteriaServiceSort'
      responses:
        '200':
          $ref: '#/components/responses/ListScorecardCriteriaServicesResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Scorecards
components:
  schemas:
    CatalogServiceScorecard:
      description: Representation of a scorecard.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        name:
          description: The human-readable name of the scorecard.
          type: string
          example: Incident Response
        description:
          type: string
          example: Governs key metrics pertaining to teams' incident response practices.
          nullable: true
        score:
          $ref: '#/components/schemas/ScorecardScore'
        entity_selector:
          $ref: '#/components/schemas/ScorecardEntitySelector'
        scorecard_template:
          description: 'The name of the scorecard template used to create the scorecard.

            Otherwise, `null`.

            '
          type: string
          example: kong_best_practices
          enum:
          - kong_best_practices
          - service_documentation
          - service_maturity
          - security_and_compliance
          nullable: true
          x-speakeasy-unknown-values: allow
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/CatalogServiceScorecardCriteria'
      required:
      - id
      - name
      - description
      - score
      - entity_selector
      - scorecard_template
      - created_at
      - updated_at
      - criteria
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    ScorecardCriteriaServiceFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
        custom_fields:
          description: "Filter by custom fields using dot-notation to specify the custom field.\nFilter operators are dictated by the custom field type. For example:\n\n\n  - `filter[custom_fields.owner]`\n  - `filter[custom_fields.owner][neq]=kong`\n  - `filter[custom_fields.dashboard.link][contains]=https`\n"
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
          - $ref: '#/components/schemas/BooleanFieldFilter'
          - $ref: '#/components/schemas/NumericFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        evaluation.is_passing:
          oneOf:
          - $ref: '#/components/schemas/BooleanFieldFilter'
        evaluation.successfully_evaluated_at:
          description: Filters on the given datetime (RFC-3339) field value.
          oneOf:
          - type: object
            title: DateTimeFieldEqualsFilter
            additionalProperties: false
            properties:
              eq:
                description: Value strictly equals given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - eq
          - type: object
            title: DateTimeFieldLTFilter
            additionalProperties: false
            properties:
              lt:
                description: Value is less than the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - lt
          - type: object
            title: DateTimeFieldLTEFilter
            additionalProperties: false
            properties:
              lte:
                description: Value is less than or equal to the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - lte
          - type: object
            title: DateTimeFieldGTFilter
            additionalProperties: false
            properties:
              gt:
                description: Value is greater than the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - gt
          - type: object
            title: DateTimeFieldGTEFilter
            additionalProperties: false
            properties:
              gte:
                description: Value is greater than or equal to the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - gte
          title: DateTimeFieldFilter
        evaluation.attempted_at:
          description: Filters on the given datetime (RFC-3339) field value.
          oneOf:
          - type: object
            title: DateTimeFieldEqualsFilter
            additionalProperties: false
            properties:
              eq:
                description: Value strictly equals given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - eq
          - type: object
            title: DateTimeFieldLTFilter
            additionalProperties: false
            properties:
              lt:
                description: Value is less than the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - lt
          - type: object
            title: DateTimeFieldLTEFilter
            additionalProperties: false
            properties:
              lte:
                description: Value is less than or equal to the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - lte
          - type: object
            title: DateTimeFieldGTFilter
            additionalProperties: false
            properties:
              gt:
                description: Value is greater than the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - gt
          - type: object
            title: DateTimeFieldGTEFilter
            additionalProperties: false
            properties:
              gte:
                description: Value is greater than or equal to the given RFC-3339 formatted timestamp in UTC
                type: string
                format: date-time
                example: '2022-03-30T07:20:50Z'
            required:
            - gte
          title: DateTimeFieldFilter
    StringSelectorOperator:
      type: string
      enum:
      - eq
      - contains
      x-speakeasy-unknown-values: allow
    ScorecardCriteriaServiceEvaluation:
      description: 'Evaluation for a scorecard criteria relative to the given service service.

        Has a `null` value when the criteria has not yet been evaluated for the service.

        '
      type: object
      properties:
        is_passing:
          description: Whether or not the service has most recently passed the criteria check.
          type: boolean
        evaluation_context:
          $ref: '#/components/schemas/CriteriaEvaluationResultDetails'
        evaluation_error:
          description: 'Details about an error that occurred during evaluation preventing computation of a pass/fail result.

            Will be `null` when no error occurred.

            '
          type: object
          example: null
          nullable: true
          properties:
            type:
              description: The type of error that occurred.
              type: string
              example: integration_unauthorized
            details:
              description: Human-readable error message about the error.
              type: string
              example: 'The GitHub integration is unauthorized. Please ensure that the

                integration is re-authorized for the criteria to be successfully evaluated.

                '
          required:
          - type
          - details
        attempted_at:
          description: The timestamp denoting the last evaluation attempt of the criteria for the service.
          type: string
          format: date-time
          example: '2023-02-15T07:20:50Z'
        successfully_evaluated_at:
          description: 'The timestamp denoting when the criteria was last successfully evaluated for the service.

            Error states preventing the evaluation from being performed will not update this timestamp.

            '
          type: string
          format: date-time
          example: '2023-02-15T07:20:50Z'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
      nullable: true
      required:
      - is_passing
      - evaluation_context
      - evaluation_error
      - successfully_evaluated_at
      - attempted_at
      - created_at
    LabelsFieldFilter:
      allOf:
      - title: LabelsFieldFilter
        description: "Filters on the resource's `labels` field. Filters must use dot-notation to identify\nthe label key that will be used to filter the results. For example:\n\n\n  - `filter[labels.owner]`\n  - `filter[labels.owner][neq]=kong`\n  - `filter[labels.env]=dev`\n  - `filter[labels.env][ocontains]=dev,test`\n"
      - $ref: '#/components/schemas/StringFieldFilter'
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    UuidFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    HasDocsSelector:
      description: Entity selector to include entities by attached documentation.
      type: object
      properties:
        selector:
          type: string
          enum:
          - has_docs
        selector_parameters:
          type: string
          enum:
          - null
          nullable: true
      required:
      - selector
      - selector_parameters
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
          x-speakeasy-terraform-ignore: true
        size:
          type: number
          example: 10
          x-speakeasy-terraform-ignore: true
        total:
          type: number
          example: 100
          x-speakeasy-terraform-ignore: true
      required:
      - number
      - size
      - total
    NumericCustomField:
      type: number
      nullable: true
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    ScorecardWithCriteria:
      description: Representation of a scorecard.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        name:
          description: The human-readable name of the scorecard.
          type: string
          example: Incident Response
        description:
          type: string
          example: Governs key metrics pertaining to teams' incident response practices.
          nullable: true
        score:
          $ref: '#/components/schemas/ScorecardScore'
        entity_selector:
          $ref: '#/components/schemas/ScorecardEntitySelector'
        scorecard_template:
          description: 'The name of the scorecard template used to create the scorecard.

            Otherwise, `null`.

            '
          type: string
          example: kong_best_practices
          enum:
          - kong_best_practices
          - service_documentation
          - service_maturity
          - security_and_compliance
          nullable: true
          x-speakeasy-unknown-values: allow
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardCriteria'
      required:
      - id
      - name
      - description
      - score
      - entity_selector
      - scorecard_template
      - created_at
      - updated_at
      - criteria
    ScorecardEntitySelector:
      description: 'Selector used to dynamically target catalog entities that will be

        included in the given scorecard''s evaluated score.

        '
      type: object
      example:
        selector: label
        selector_parameters:
          label_key: product_area
          operator: eq
          value: cloud_platform
      nullable: true
      oneOf:
      - $ref: '#/components/schemas/ServiceSelector'
      title: ScorecardEntitySelector
    CriteriaTemplateName:
      description: Reference to the unique `name` of the criteria template.
      type: string
      example: time_to_merge
    ByDisplayNameSelector:
      description: Entity selector that includes entities by `display_name`.
      type: object
      properties:
        selector:
          type: string
          enum:
          - display_name
        selector_parameters:
          $ref: '#/components/schemas/StringFieldSelectorParams'
      required:
      - selector
      - selector_parameters
    Scorecard:
      description: Representation of a scorecard.
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        name:
          description: The human-readable name of the scorecard.
          type: string
          example: Incident Response
        description:
          type: string
          example: Governs key metrics pertaining to teams' incident response practices.
          nullable: true
        score:
          $ref: '#/components/schemas/ScorecardScore'
        entity_selector:
          $ref: '#/components/schemas/ScorecardEntitySelector'
        scorecard_template:
          description: 'The name of the scorecard template used to create the scorecard.

            Otherwise, `null`.

            '
          type: string
          example: kong_best_practices
          enum:
          - kong_best_practices
          - service_documentation
          - service_maturity
          - security_and_compliance
          nullable: true
          x-speakeasy-unknown-values: allow
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
      - id
      - name
      - description
      - score
      - entity_selector
      - scorecard_template
      - created_at
      - updated_at
    HasLabelKeySelector:
      description: Entity selector that includes entities by inclusion of a `label` key.
      type: object
      properties:
        selector:
          type: string
          enum:
          - has_label_key
        selector_parameters:
          type: object
          properties:
            label_key:
              type: string
          required:
          - label_key
          title: HasLabelKeySelectorParams
      required:
      - selector
      - selector_parameters
    ByCustomFieldSelector:
      description: Entity selector that include entities by a custom field.
      type: object
      properties:
        selector:
          type: string
          enum:
          - custom_field
        selector_parameters:
          oneOf:
          - type: object
            title: StringCustomFieldSelectorParams
            required:
            - field
            - value
            - operator
            properties:
              field:
                description: Name of the custom field.
                type: string
              value:
                type: string
              operator:
                $ref: '#/components/schemas/StringSelectorOperator'
          - type: object
            title: NumberCustomFieldSelectorParams
            required:
            - field
            - value
            - operator
            properties:
              field:
                description: Name of the custom field.
                type: string
              value:
                type: number
              operator:
                $ref: '#/components/schemas/NumberSelectorOperator'
          - type: object
            title: BooleanCustomFieldSelectorParams
            required:
            - field
            - value
            - operator
            properties:
              field:
                description: Name of the custom field.
                type: string
              value:
                type: boolean
              operator:
                $ref: '#/components/schemas/BooleanSelectorOperator'
          - type: object
            title: UrlCustomFieldSelectorParams
            required:
            - field
            - subfield
            - value
            - operator
            properties:
              field:
                description: Name of the custom field.
                type: string
              subfield:
                description: Specify which subfield of the `url` custom field value to use for selection.
                type: string
                enum:
                - name
                - link
                x-speakeasy-unknown-values: allow
              value:
                type: string
              operator:
                $ref: '#/components/schemas/StringSelectorOperator'
      required:
      - selector
      - selector_parameters
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    ScorecardServiceFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
        custom_fields:
          description: "Filter by custom fields using dot-notation to specify the custom field.\nFilter operators are dictated by the custom field type. For example:\n\n\n  - `filter[custom_fields.owner]`\n  - `filter[custom_fields.owner][neq]=kong`\n  - `filter[custom_fields.dashboard.link][contains]=https`\n"
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
          - $ref: '#/components/schemas/BooleanFieldFilter'
          - $ref: '#/components/schemas/NumericFieldFilter'
        labels:
          $ref: '#/components/schemas/LabelsFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        score.value:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        score.raw_value:
          oneOf:
          - $ref: '#/components/schemas/NumericFieldFilter'
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    BooleanSelectorOperator:
      type: string
      enum:
      - eq
    ScorecardCriteriaFilterParameters:
      type: object
      properties:
        evaluation.passing_services_count:
          oneOf:
          - $ref: '#/components/schemas/NumericFieldFilter'
    UrlCustomField:
      type: object
      properties:
        name:
          description: The human-readable name of the URL link.
          type: string
          example: On-Call Dashboard
        link:
          description: The href value of the URL link.
          type: string
          format: uri-reference
          example: https://my-dashboard-svc.io/dashboards/1
      nullable: true
      required:
      - name
      - link
    ScorecardTemplateFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        display_name:
          $ref: '#/components/schemas/StringFieldFilter'
    CatalogServiceScorecardCriteria:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
        name:
          description: Override display name for the criteria, for greater contextual clarity within a given scorecard.
          type: string
          example: Time to restore service is less than 6 hours over the last 3 months.
          nullable: true
        scorecard_id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        integration:
          description: The integration `name` when it provides the criteria template. Otherwise `null`.
          type: string
          example: null
          nullable: true
        enabled:
          description: Whether the criteria is enabled for the given scorecard.
          type: boolean
          example: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section name for the criteria within the scorecard.
          type: string
          example: Documentation
          maxLength: 120
          minLength: 1
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        evaluation:
          $ref: '#/components/schemas/ScorecardCriteriaServiceEvaluation'
      required:
      - id
      - name
      - scorecard_id
      - integration
      - enabled
      - template_name
      - template_parameters
      - section_name
      - created_at
      - updated_at
      - evaluation
    HasApisSelector:
      description: Entity selector that includes services by attached APIs.
      type: object
      properties:
        selector:
          type: string
          enum:
          - api_count
        selector_parameters:
          $ref: '#/components/schemas/HasSelectorParams'
      required:
      - selector
      - selector_parameters
    BooleanFieldFilter:
      description: Filter by a boolean value (true/false).
      type: boolean
      title: BooleanFieldFilter
    CreateScorecardCriteria:
      type: object
      properties:
        name:
          type: string
          example: Median time to merge opened PRs is less than 6 hours over the last 3 months.
          maxLength: 2048
          minLength: 1
        enabled:
          type: boolean
          example: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section name for the criteria within the scorecard.
          type: string
          example: Source Code Management
          maxLength: 120
          minLength: 1
          nullable: true
      additionalProperties: false
      required:
      - enabled
      - template_name
      - template_parameters
      - section_name
    ScorecardFilterParameters:
      type: object
      properties:
        name:
          $ref: '#/components/schemas/StringFieldFilter'
        score.value:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        score.raw_value:
          oneOf:
          - $ref: '#/components/schemas/NumericFieldFilter'
    CreateScorecard:
      type: object
      properties:
        name:
          description: The human-readable name of the scorecard.
          type: string
          example: Incident Response
        description:
          type: string
          example: Governs key metrics pertaining to teams' incident response practices.
          nullable: true
        entity_selector:
          $ref: '#/components/schemas/ScorecardEntitySelector'
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/CreateScorecardCriteria'
          minItems: 1
        scorecard_template:
          description: 'The name of the scorecard template used to create the scorecard.

            Otherwise, `null`.

            '
          type: string
          example: kong_best_practices
          enum:
          - kong_best_practices
          - service_documentation
          - service_maturity
          - security_and_compliance
          nullable: true
          x-speakeasy-unknown-values: allow
      additionalProperties: false
      required:
      - name
      - description
      - entity_selector
      - criteria
      - scorecard_template
    ByNameSelector:
      description: Entity selector that includes entities by `name`.
      type: object
      properties:
        selector:
          type: string
          enum:
          - name
        selector_parameters:
          $ref: '#/components/schemas/StringFieldSelectorParams'
      required:
      - selector
      - selector_parameters
    CriteriaParameters:
      description: 'Input parameters for the given criteria template.

        The available parameters, and its schema, are found on the criteria template definition via

        the `schema` property. Criteria template definitions are determined by the `/v1/criteria-templates`

        endpoint.

        '
      type: object
      example:
        measure: median
        threshold:
          unit: hours
          value: 6
        window:
          unit: months
          value: 3
      additionalProperties: true
      nullable: true
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    UpdateScorecardCriteria:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
        name:
          type: string
          example: Median time to merge opened PRs is less than 6 hours over the last 3 months.
          maxLength: 2048
          minLength: 1
        enabled:
          type: boolean
          example: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section name for the criteria within the scorecard.
          type: string
          example: Source Code Management
          maxLength: 120
          minLength: 1
          nullable: true
      additionalProperties: false
      required:
      - id
      - enabled
      - template_name
      - template_parameters
      - section_name
    ScorecardCriteriaWithEvaluation:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
        name:
          description: Override display name for the criteria, for greater contextual clarity within a given scorecard.
          type: string
          example: Time to restore service is less than 6 hours over the last 3 months.
          nullable: true
        scorecard_id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        integration:
          description: The integration `name` when it provides the criteria template. Otherwise `null`.
          type: string
          example: null
          nullable: true
        enabled:
          description: Whether the criteria is enabled for the given scorecard.
          type: boolean
          example: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section name for the criteria within the scorecard.
          type: string
          example: Documentation
          maxLength: 120
          minLength: 1
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        evaluation:
          $ref: '#/components/schemas/ScorecardCriteriaEvaluation'
      required:
      - id
      - name
      - scorecard_id
      - integration
      - enabled
      - template_name
      - template_parameters
      - section_name
      - created_at
      - updated_at
      - evaluation
    ByLabelSelector:
      description: Entity selector that includes entities by `label` value.
      type: object
      properties:
        selector:
          type: string
          enum:
          - label
        selector_parameters:
          type: object
          properties:
            operator:
              $ref: '#/components/schemas/StringSelectorOperator'
            value:
              type: string
            label_key:
              type: string
          required:
          - operator
          - value
          - label_key
          title: LabelSelectorParams
      required:
      - selector
      - selector_parameters
    StringFieldSelectorParams:
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/StringSelectorOperator'
        value:
          type: string
      required:
      - operator
      - value
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    CriteriaEvaluationErrorResult:
      type: object
      properties:
        relation:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          required:
          - id
          - name
        error:
          description: 'Details about an error that occurred during evaluation preventing computation of a pass/fail result.

            Will be `null` when no error occurred.

            '
          type: object
          example: null
          nullable: true
          properties:
            type:
              description: The type of error that occurred.
              type: string
              example: integration_unauthorized
            details:
              description: Human-readable error message about the error.
              type: string
              example: 'The GitHub integration is unauthorized. Please ensure that the

                integration is re-authorized for the criteria to be successfully evaluated.

                '
          required:
          - type
          - details
      required:
      - relation
      - error
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
      - page
      title: PaginatedMeta
      x-speakeasy-terraform-ignore: true
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    ScorecardCriteriaEvaluation:
      type: object
      properties:
        passing_services_count:
          description: Number of targeted Services passing the criteria.
          type: number
          example: 3
      nullable: true
      required:
      - passing_services_count
    HasRelationshipSelectorOperator:
      type: string
      enum:
      - eq
      - gte
      - lte
      x-speakeasy-unknown-values: allow
    CatalogResourceType:
      description: 'The resource type. Available resource types are compiled from the integrations installed within the catalog.

        '
      type: string
      example: gateway_svc
      maxLength: 120
      minLength: 1
    ByIDsSelector:
      description: Entity selector that includes entities contained within a list of IDs.
      type: object
      properties:
        selector:
          type: string
          enum:
          - ids
        selector_parameters:
          type: object
          properties:
            ids:
              type: array
              items:
                type: string
                format: uuid
          required:
          - ids
      required:
      - selector
      - selector_parameters
    CriteriaEvaluationResultDetails:
      description: Provides additional metadata about the criteria evaluation result.
      type: object
      properties:
        raw_value:
          description: 'Raw value of the criteria evaluation.


            For example, a service may be failing the `time_to_acknowledge` criteria evaluation when

            the the mean time-to-ack is greater than 15 minutes. This value represents the _actual_

            mean time-to-ack value for the service which if not passing could be 25 minutes.

            '
          oneOf:
          - type: number
          - type: string
          - type: boolean
          - $ref: '#/components/schemas/TimeValue'
          - $ref: '#/components/schemas/CriteriaEvaluationRelationMap'
          - type: object
            additionalProperties: true
          - nullable: true
        display_text:
          description: Renderable text providing human-readable context about the evaluation value.
          type: string
          example: 25 minutes
      example:
        raw_value:
          unit: minutes
          value: 25
        display_text: 25 minutes
      nullable: true
      required:
      - raw_value
      - display_text
    TimeValue:
      description: Represents a time value inclusive of units.
      type: object
      properties:
        value:
          type: number
          example: 3.25
        unit:
          type: string
          example: hours
          enum:
          - milliseconds
          - seconds
          - minutes
          - hours
          - days
          - months
          - years
          x-speakeasy-unknown-values: allow
      required:
      - value
      - unit
    CriteriaEvaluationRelationResult:
      type: object
      properties:
        is_passing:
          description: Whether or not the relation has passed the criteria evaluation.
          type: boolean
        relation:
          type: object
          properties:
            id:
              type: string
            name:
              type: string
          required:
          - id
          - name
        details:
          $ref: '#/components/schemas/CriteriaEvaluationResultDetails'
      required:
      - is_passing
      - relation
      - details
    ServiceSelector:
      oneOf:
      - $ref: '#/components/schemas/AllEntitiesSelector'
      - $ref: '#/components/schemas/ByIDsSelector'
      - $ref: '#/components/schemas/ByNameSelector'
      - $ref: '#/components/schemas/ByDisplayNameSelector'
      - $ref: '#/components/schemas/ByCustomFieldSelector'
      - $ref: '#/components/schemas/ByLabelSelector'
      - $ref: '#/components/schemas/HasLabelKeySelector'
      - $ref: '#/components/schemas/HasDocsSelector'
      - $ref: '#/components/schemas/HasApisSelector'
      - $ref: '#/components/schemas/HasResourcesSelector'
    Labels:
      description: "Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. \n\nKeys must be of length 1-63 characters, and cannot start with \"kong\", \"konnect\", \"mesh\", \"kic\", or \"_\".\n"
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: ^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$
        minLength: 1
        maxLength: 63
      maxProperties: 50
      title: Labels
    NumberSelectorOperator:
      type: string
      enum:
      - eq
      - lt
      - gt
      x-speakeasy-unknown-values: allow
    HasResourcesSelector:
      description: Entity selector that includes services by mapped resources.
      type: object
      properties:
        selector:
          type: string
          enum:
          - resource_count
        selector_parameters:
          type: object
          properties:
            operator:
              $ref: '#/components/schemas/HasRelationshipSelectorOperator'
            value:
              type: number
            resource_type:
              $ref: '#/components/schemas/CatalogResourceType'
            integration:
              description: The machine name of the integration that uniquely identifies it within the catalog.
              type: string
              example: gateway-manager
          required:
          - operator
          - value
          - resource_type
          - integration
          title: HasResourcesSelectorParams
      required:
      - selector
      - selector_parameters
    ScorecardTemplate:
      description: Representation of a scorecard template.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/ScorecardTemplateName'
        display_name:
          type: string
          example: Kong Best Practices
        description:
          type: string
          example: Best practices that we encourage users to follow when using other Konnect applications.
        criteria:
          type: array
          items:
            $ref: '#/components/schemas/ScorecardTemplateCriteria'
          example:
          - template_name: gateway_manager_error_rate
            template_parameters:
              relative_window: 30d
            integration: gateway_manager
            section_name: Gateway Observability
          - template_name: gateway_manager_response_latency
            template_parameters:
              metric: response_latency_p95
              relative_window: 30d
            integration: gateway_manager
            section_name: Gateway Observability
          - template_name: gateway_manager_has_plugin
            template_parameters: {}
            integration: gateway_manager
            section_name: Plugin Management
      required:
      - name
      - display_name
      - description
      - criteria
    ScorecardTemplateName:
      description: Well-known name of the template. Uniquely identifies the template.
      type: string
      example: kong_best_practices
      enum:
      - kong_best_practices
      - service_documentation
      - service_maturity
      - security_and_compliance
      x-speakeasy-unknown-values: allow
    AllEntitiesSelector:
      description: Entity selector that includes all entities of the given type within the catalog.
      type: object
      properties:
        selector:
          type: string
          enum:
          - all
        selector_parameters:
          type: string
          enum:
          - null
          nullable: true
      required:
      - selector
      - selector_parameters
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    ScorecardTemplateCriteria:
      type: object
      properties:
        integration:
          description: The integration `name` when it provides the criteria template. Otherwise `null`.
          type: string
          example: null
          nullable: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section that the criteria belongs to within the scorecard template.
          type: string
          example: Source Code Management
          nullable: true
      required:
      - integration
      - template_name
      - template_parameters
      - section_name
    CustomFields:
      description: 'Map of customizable, catalog-defined fields providing information about a service.

        '
      type: object
      example:
        owner: John Appleseed
        dashboard:
          name: On-Call Dashboard
          link: https://my-dashboard-svc.io/dashboards/1
      additionalProperties:
        oneOf:
        - $ref: '#/components/schemas/TextCustomField'
        - $ref: '#/components/schemas/NumericCustomField'
        - $ref: '#/components/schemas/BooleanCustomField'
        - $ref: '#/components/schemas/UrlCustomField'
      x-speakeasy-type-override: any
    ScorecardCriteria:
      type: object
      properties:
        id:
          type: string
          format: uuid
          example: 5c1121f9-3f3a-47c7-9bb6-c81a51128714
        name:
          description: Override display name for the criteria, for greater contextual clarity within a given scorecard.
          type: string
          example: Time to restore service is less than 6 hours over the last 3 months.
          nullable: true
        scorecard_id:
          type: string
          format: uuid
          example: f3704e4c-104d-4f21-998a-20d4364c893f
        integration:
          description: The integration `name` when it provides the criteria template. Otherwise `null`.
          type: string
          example: null
          nullable: true
        enabled:
          description: Whether the criteria is enabled for the given scorecard.
          type: boolean
          example: true
        template_name:
          $ref: '#/components/schemas/CriteriaTemplateName'
        template_parameters:
          $ref: '#/components/schemas/CriteriaParameters'
        section_name:
          description: Organizational section name for the criteria within the scorecard.
          type: string
          example: Documentation
          maxLength: 120
          minLength: 1
          nullable: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
      - id
      - name
      - scorecard_id
      - integration
      - enabled
      - template_name
      - template_parameters
      - section_name
      - created_at
      - updated_at
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    CriteriaEvaluationRelationMap:
      type: object
      properties:
        instance:
          type: string
          enum:
          - criteria_result_relation_map
        relation:
          type: string
          example: gateway_svc
        map:
          additionalProperties:
            oneOf:
            - $ref: '#/components/schemas/CriteriaEvaluationRelationResult'
            - $ref: '#/components/schemas/CriteriaEvaluationErrorResult'
      required:
      - instance
      - relation
      - map
    StringFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`, `contains`, `ocontains`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        contains:
          description: The field contains the provided value.
          type: string
        ocontains:
          description: The field contains any of the provided values.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    BooleanCustomField:
      type: boolean
      nullable: true
    UpdateScorecard:
      type: object
      properties:
        name:
          description: The human-readable name of the scorecard.
          type: string
          example: Incident Response
        description:
          type: string
          example: Governs key metrics pertaining to teams' incident response practices.
          nullable: true
        entity_selector:
          $ref: '#/components/schemas/ScorecardEntitySelector'
        criteria:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/UpdateScorecardCriteria'
            - $ref: '#/components/schemas/CreateScorecardCriteria'
          minItems: 1
        scorecard_template:
          description: 'The name of the scorecard template used to create the scorecard.

            Otherwise, `null`.

            '
          type: string
          example: kong_best_practices
          enum:
          - kong_best_practices
          - service_documentation
          - service_maturity
          - security_and_compliance
          nullable: true
          x-speakeasy-unknown-values: allow
      additionalProperties: false
      required:
      - name
      - description
      - entity_selector
      - criteria
      - scorecard_template
    NumericFieldFilter:
      description: Filter by a numeric value.
      oneOf:
      - type: number
        description: Value strictly equals the given numeric value.
        example: 21
      - type: object
        title: NumericFieldEqualsFilter
        additionalProperties: false
        properties:
          eq:
            description: Value strictly equals the given numeric value.
            type: number
            example: 3.14
        required:
        - eq
      - type: object
        title: NumericFieldLTFilter
        additionalProperties: false
        properties:
          lt:
            description: Value is less than the given numeric value.
            type: number
            example: 10
        required:
        - lt
      - type: object
        title: NumericFieldLTEFilter
        additionalProperties: false
        properties:
          lte:
            description: Value is less than or equal to the given numeric value.
            type: number
            example: 10
        required:
        - lte
      - type: object
        title: NumericFieldGTFilter
        additionalProperties: false
        properties:
          gt:
            description: Value is greater than the given numeric value.
            type: number
            example: 1.85
        required:
        - gt
      - type: object
        title: NumericFieldGTEFilter
        additionalProperties: false
        properties:
          gte:
            description: Value is greater than or equal to the given numeric value.
            type: number
            example: 1.85
        required:
        - gte
    HasSelectorParams:
      type: object
      properties:
        operator:
          $ref: '#/components/schemas/HasRelationshipSelectorOperator'
        value:
          type: number
      required:
      - operator
      - value
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    TextCustomField:
      type: string
      nullable: true
    DateTimeFieldFilter:
      description: Filters on the given datetime (RFC-3339) field value.
      oneOf:
      - type: object
        title: DateTimeFieldEqualsFilter
        additionalProperties: false
        properties:
          eq:
            description: Value strictly equals given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - eq
      - type: object
        title: DateTimeFieldLTFilter
        additionalProperties: false
        properties:
          lt:
            description: Value is less than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lt
      - type: object
        title: DateTimeFieldLTEFilter
        additionalProperties: false
        properties:
          lte:
            description: Value is less than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lte
      - type: object
        title: DateTimeFieldGTFilter
        additionalProperties: false
        properties:
          gt:
            description: Value is greater than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gt
      - type: object
        title: DateTimeFieldGTEFilter
        additionalProperties: false
        properties:
          gte:
            description: Value is greater than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gte
      title: DateTimeFieldFilter
    ScorecardScore:
      description: 'The current score for the given Scorecard.

        A `null` value indicates the scorecard has not yet been evaluated and therefore no score has been computed.

        '
      type: object
      properties:
        value:
          description: The human-readable score value coverted to the Scorecard's assigned grading system.
          type: string
          example: 88%
        raw_value:
          description: 'The raw, numeric score calculated during evaluation of the scorecard.

            Rounded to 3 decimal places.

            '
          type: number
          example: 87.5
          maximum: 100
          minimum: 0
      nullable: true
      required:
      - value
      - raw_value
    SortQuery:
      description: 'The `asc` suffix is optional as the default sort order is ascending.

        The `desc` suffix is used to specify a descending order.

        Multiple sort attributes may be provided via a comma separated list.

        JSONPath notation may be used to specify a sub-attribute (eg: ''foo.bar desc'').

        '
      type: string
      example: created_at desc
      title: SortQuery
    ScorecardService:
      description: Service object that includes its score for the given scorecard.
      type: object
      properties:
        id:
          description: The service ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          description: 'The machine name of the Service that uniquely identifies it within the catalog.

            '
          type: string
          example: user-svc
          maxLength: 120
          minLength: 1
          pattern: ^[0-9a-z.-]+$
        display_name:
          description: The display name of the Service.
          type: string
          example: User Service
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the Service.
          type: string
          maxLength: 2048
          nullable: true
        custom_fields:
          $ref: '#/components/schemas/CustomFields'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        score:
          $ref: '#/components/schemas/ScorecardScore'
      required:
      - id
      - name
      - display_name
      - description
      - custom_fields
      - labels
      - created_at
      - updated_at
      - score
      title: ScorecardService
    ScorecardCriteriaService:
      description: Service object that includes its evaluation result for the given scorecard criteria.
      type: object
      properties:
        id:
          description: The service ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
        name:
          description: 'The machine name of the Service that uniquely identifies it within the catalog.

            '
          type: string
          example: user-svc
          maxLength: 120
          minLength: 1
          pattern: ^[0-9a-z.-]+$
        display_name:
          description: The display name of the Service.
          type: string
          example: User Service
          maxLength: 120
          minLength: 1
        description:
          description: Optionally provide a description of the Service.
          type: string
          maxLength: 2048
          nullable: true
        custom_fields:
          $ref: '#/components/schemas/CustomFields'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        score:
          $ref: '#/components/schemas/ScorecardCriteriaServiceEvaluation'
      required:
      - id
      - name
      - display_name
      - description
      - custom_fields
      - labels
      - created_at
      - updated_at
      - evaluation
      title: ScorecardService
  responses:
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    ListCatalogServiceScorecardsResponse:
      description: A paginated list response for a collection of scorecards targeting a service.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Scorecard'
            additionalProperties: false
            required:
            - meta
            - data
    ListScorecardCriteriaResponse:
      description: A paginated list response for a collection of criteria belonging to a scorecard.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ScorecardCriteriaWithEvaluation'
            additionalProperties: false
            required:
            - meta
            - data
    ListScorecardsResponse:
      description: A paginated list response for a collection of scorecards.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/Scorecard'
            additionalProperties: false
            required:
            - meta
            - data
    ListScorecardTemplatesResponse:
      description: A paginated list response for a collection of scorecard templates.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ScorecardTemplate'
            additionalProperties: false
            required:
            - meta
            - data
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ScorecardResponse:
      description: A response containing a single scorecard.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScorecardWithCriteria'
    ListScorecardCriteriaServicesResponse:
      description: A paginated list response for a collection of services targeted by a scorecard criteria.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ScorecardCriteriaService'
            additionalProperties: false
            required:
            - meta
            - data
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    ListScorecardServicesResponse:
      description: A paginated list response for a collection of services targeted by a scorecard.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ScorecardService'
            additionalProperties: false
            required:
            - meta
            - data
    CatalogServiceScorecardResponse:
      description: A response containing a scorecard targeting a service.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogServiceScorecard'
  parameters:
    PageNumber:
      name: page[number]
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
      x-speakeasy-terraform-ignore: true
    ScorecardServiceSort:
      name: sort
      description: "Sorts a collection of services targeted by a scorecard. Supported sort attributes are:\n\n\n  - `display_name`\n  - `name`\n  - `score.value`\n  - `score.raw_value`\n\nDefault sort is `display_name` in ascending order.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardSort:
      name: sort
      description: "Sorts a collection of scorecards. Supported sort attributes are:\n  - `name`\n  - `score.value`\n  - `score.raw_value`\n\nDefault sort is `name` in ascending order.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardCriteriaServiceSort:
      name: sort
      description: "Sorts a collection of services targeted by a scorecard criteria. Supported sort attributes are:\n\n\n  - `display_name`\n  - `name`\n  - `evaluation.is_passing`\n  - `evaluation.successfully_evaluated_at`\n  - `evaluation.attempted_at`\n\nDefault sort is `display_name` in ascending order.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardServiceFilter:
      name: filter
      description: Filters a collection of services targeted by a scorecard.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardServiceFilterParameters'
    ScorecardCriteriaSort:
      name: sort
      description: "Sorts a collection of criteria belonging to a scorecard. Supported sort attributes are:\n\n\n  - `evaluation.passing_services_count`\n\nBy default, criteria will be returned in the order that they are configured in the scorecard.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    ScorecardFilter:
      name: filter
      description: Filters a collection of scorecards.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardFilterParameters'
    ScorecardTemplateSort:
      name: sort
      description: "Sorts a collection of scorecard templates. Supported sort attributes are:\n\n\n  - `display_name`\n  - `name`\n\nDefault sort is `display_name` in ascending order.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ScorecardCriteriaServiceFilter:
      name: filter
      description: Filters a collection of services targeted by a scorecard criteria.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardCriteriaServiceFilterParameters'
    ScorecardTemplateFilter:
      name: filter
      description: Filters a collection of scorecard templates.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardTemplateFilterParameters'
    ScorecardCriteriaFilter:
      name: filter
      description: Filters a collection of criteria belonging to a scorecard.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/ScorecardCriteriaFilterParameters'
  requestBodies:
    CreateScorecardRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateScorecard'
    UpdateScorecardRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdateScorecard'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
