openapi: 3.2.0
info:
  title: Konnect API - Go SDK API Image API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: API Image
paths:
  /v3/apis/{apiId}/images/{imageType}:
    parameters:
    - $ref: '#/components/parameters/ApiId'
    - $ref: '#/components/parameters/ImageType'
    put:
      operationId: upsert-api-image
      summary: Create or Replace an API Image
      description: Create or Replace an API Image. The replacement image is not applied to the API until asynchronous validation completes successfully.
      requestBody:
        $ref: '#/components/requestBodies/ReplaceApiImageRequest'
      responses:
        '200':
          $ref: '#/components/responses/ApiImageResponse'
        '201':
          $ref: '#/components/responses/ApiImageResponse'
        '401':
          $ref: '#/components/responses/ApiImageUnauthorized'
        '403':
          $ref: '#/components/responses/ApiImageForbidden'
        '404':
          $ref: '#/components/responses/ApiImageNotFound'
        '409':
          $ref: '#/components/responses/ApiImageConflict'
      tags:
      - API Image
    get:
      operationId: fetch-api-image
      summary: Get API Image
      description: 'Retrieves the status and metadata associated with an API Image. Returns the latest image if it has not yet been applied (status: uploading, validating, or invalid), otherwise returns the details of currently applied image (status: valid).'
      responses:
        '200':
          $ref: '#/components/responses/ApiImageResponse'
        '401':
          $ref: '#/components/responses/ApiImageUnauthorized'
        '403':
          $ref: '#/components/responses/ApiImageForbidden'
        '404':
          $ref: '#/components/responses/ApiImageNotFound'
      tags:
      - API Image
    delete:
      operationId: delete-api-image
      summary: Delete an API Image
      description: Delete an API Image.
      responses:
        '204':
          description: API Image was deleted successfully.
        '401':
          $ref: '#/components/responses/ApiImageUnauthorized'
        '403':
          $ref: '#/components/responses/ApiImageForbidden'
        '404':
          $ref: '#/components/responses/ApiImageNotFound'
      tags:
      - API Image
  /v3/apis/{apiId}/images/{imageType}/raw:
    parameters:
    - $ref: '#/components/parameters/ApiId'
    - $ref: '#/components/parameters/ImageType'
    get:
      operationId: fetch-api-raw-image
      summary: Get an API Raw Image
      description: 'Retrieves the raw image of an API. Only the currently applied image (status: valid) can be retrieved.'
      responses:
        '302':
          description: Redirect to the image URL.
          headers:
            Location:
              description: The CDN URL of the image.
              schema:
                type: string
        '401':
          $ref: '#/components/responses/ApiImageUnauthorized'
        '403':
          $ref: '#/components/responses/ApiImageForbidden'
        '404':
          $ref: '#/components/responses/ApiImageNotFound'
      tags:
      - API Image
components:
  schemas:
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    APIImage:
      type: object
      properties:
        error:
          description: An error related to the image invalid status.
          type: string
          example: null
          nullable: true
          readOnly: true
        status:
          description: The status of the image.
          type: string
          example: valid
          enum:
          - uploading
          - validating
          - valid
          - invalid
          readOnly: true
          x-speakeasy-unknown-values: allow
        api_id:
          description: The API identifier which the image belongs to.
          type: string
          format: uuid
          example: 123e4567-e89b-12d3-a456-426614174000
          readOnly: true
        image_type:
          allOf:
          - $ref: '#/components/schemas/ImageTypeSchema'
          - readOnly: true
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      additionalProperties: false
      required:
      - status
      - error
      - api_id
      - image_type
      - created_at
      - updated_at
      title: Image Status
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    ReplaceImageRequestSchema:
      type: object
      properties:
        data:
          $ref: '#/components/schemas/ImageDataUri'
      additionalProperties: false
      required:
      - data
      title: Replace Image Payload
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    ImageSVGDataUri:
      description: must be a data URL with base64 SVG image data, e.g., data:image/svg\+xml;base64,<BASE64_IMAGE_DATA>
      type: string
      format: uri
      example: data:image/svg+xml,YW5faW1hZ2VfZmlsZQ==
      pattern: ^data:image/svg\+xml(;base64)?,(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
      title: ImageSVGDataUri
      x-validation-message: must be a data URL with base64 SVG image data, e.g., data:image/svg\+xml;base64,<BASE64_IMAGE_DATA>
    ImagePNGDataUri:
      description: must be a data URL with base64 PNG image data, e.g., data:image/png;base64,<BASE64_IMAGE_DATA>
      type: string
      format: uri
      example: data:image/png,YW5faW1hZ2VfZmlsZQ==
      pattern: ^data:image/png(;base64)?,(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
      title: ImagePNGDataUri
      x-validation-message: must be a data URL with base64 PNG image data, e.g., data:image/png;base64,<BASE64_IMAGE_DATA>
    ImageJPGDataUri:
      description: must be a data URL with base64 JPEG image data, e.g., data:image/jpeg;base64,<BASE64_IMAGE_DATA>
      type: string
      format: uri
      example: data:image/jpeg,YW5faW1hZ2VfZmlsZQ==
      pattern: ^data:image/jpeg(;base64)?,(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
      title: ImageJPGDataUri
      x-validation-message: must be a data URL with base64 JPEG image data, e.g., data:image/jpeg;base64,<BASE64_IMAGE_DATA>
    ImageDataUri:
      example: data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUA
      oneOf:
      - $ref: '#/components/schemas/ImagePNGDataUri'
      - $ref: '#/components/schemas/ImageJPGDataUri'
      - $ref: '#/components/schemas/ImageSVGDataUri'
      title: ImageDataUri
    ImageTypeSchema:
      description: The type of the image.
      type: string
      example: icon
      enum:
      - icon
  responses:
    ApiImageForbidden:
      description: ApiImageForbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ApiImageUnauthorized:
      description: ApiImageUnauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    ApiImageConflict:
      description: Conflict - The image is currently being updated by another request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    ApiImageResponse:
      description: ApiImageResponse
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/APIImage'
    ApiImageNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
  parameters:
    ImageType:
      schema:
        $ref: '#/components/schemas/ImageTypeSchema'
      name: imageType
      in: path
      required: true
      description: The Supported image type.
    ApiId:
      schema:
        type: string
        format: uuid
        example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      name: apiId
      in: path
      required: true
      description: The UUID API identifier
  requestBodies:
    ReplaceApiImageRequest:
      required: true
      description: Request body to upload an image base64 dataURI for API.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ReplaceImageRequestSchema'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
