openapi: 3.2.0
info:
  title: Konnect API - Go SDK GraphQL Cost Decorations API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: GraphQL Cost Decorations
paths:
  /v2/control-planes/{controlPlaneId}/core-entities/graphql-rate-limiting-advanced/costs:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-graphql-rate-limiting-advanced-cost
      summary: List all GraphQL Cost Decorations
      description: List all GraphQL Cost Decorations
      parameters:
      - $ref: '#/components/parameters/PaginationSize'
      - $ref: '#/components/parameters/PaginationOffset'
      - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing GraphQL Cost Decorations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GraphQLCostDecoration'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
        '401':
          $ref: '#/components/responses/HTTP401Error'
      tags:
      - GraphQL Cost Decorations
  /v2/control-planes/{controlPlaneId}/core-entities/graphql-rate-limiting-advanced/costs/{GraphQLCostDecorationId}:
    parameters:
    - $ref: '#/components/parameters/GraphQLCostDecorationId'
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: get-graphql-rate-limiting-advanced-cost
      summary: Get a GraphQL Cost Decoration
      description: Get a GraphQL Cost Decoration using ID.
      responses:
        '200':
          description: Successfully fetched GraphQL Cost Decoration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLCostDecoration'
        '401':
          $ref: '#/components/responses/HTTP401Error'
        '404':
          description: Resource does not exist
      tags:
      - GraphQL Cost Decorations
  /v2/control-planes/{controlPlaneId}/core-entities/services/{ServiceId}/graphql-rate-limiting-advanced/costs:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-graphql-rate-limiting-advanced-cost-with-service
      summary: List all GraphQL Cost Decorations associated with a Service
      description: List all GraphQL Cost Decorations associated with a Service
      parameters:
      - $ref: '#/components/parameters/ServiceId'
      - $ref: '#/components/parameters/PaginationSize'
      - $ref: '#/components/parameters/PaginationOffset'
      - $ref: '#/components/parameters/PaginationTagsFilter'
      responses:
        '200':
          description: A successful response listing GraphQL Cost Decorations
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/GraphQLCostDecoration'
                  next:
                    $ref: '#/components/schemas/PaginationNextResponse'
                  offset:
                    $ref: '#/components/schemas/PaginationOffsetResponse'
      tags:
      - GraphQL Cost Decorations
    post:
      operationId: create-graphql-rate-limiting-advanced-cost-with-service
      summary: Create a new GraphQL Cost Decoration associated with a Service
      description: Create a new GraphQL Cost Decoration associated with a Service
      parameters:
      - $ref: '#/components/parameters/ServiceId'
      requestBody:
        description: Description of new GraphQL Cost Decoration for creation
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLCostDecorationWithoutParents'
      responses:
        '201':
          description: Successfully created GraphQL Cost Decoration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLCostDecoration'
      tags:
      - GraphQL Cost Decorations
  ? /v2/control-planes/{controlPlaneId}/core-entities/services/{ServiceId}/graphql-rate-limiting-advanced/costs/{GraphQLCostDecorationId}
  : parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    delete:
      operationId: delete-graphql-rate-limiting-advanced-cost-with-service
      summary: Delete a a GraphQL Cost Decoration associated with a Service
      description: Delete a a GraphQL Cost Decoration associated with a Service using ID.
      parameters:
      - $ref: '#/components/parameters/ServiceId'
      - $ref: '#/components/parameters/GraphQLCostDecorationId'
      responses:
        '204':
          description: Successfully deleted GraphQL Cost Decoration or the resource didn't exist
      tags:
      - GraphQL Cost Decorations
    get:
      operationId: get-graphql-rate-limiting-advanced-cost-with-service
      summary: Get a GraphQL Cost Decoration associated with a Service
      description: Get a GraphQL Cost Decoration associated with a Service using ID.
      parameters:
      - $ref: '#/components/parameters/ServiceId'
      - $ref: '#/components/parameters/GraphQLCostDecorationId'
      responses:
        '200':
          description: Successfully fetched GraphQL Cost Decoration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLCostDecoration'
        '404':
          description: Resource does not exist
      tags:
      - GraphQL Cost Decorations
    put:
      operationId: upsert-graphql-rate-limiting-advanced-cost-with-service
      summary: Upsert a GraphQL Cost Decoration associated with a Service
      description: Create or Update a GraphQL Cost Decoration associated with a Service using ID.
      parameters:
      - $ref: '#/components/parameters/ServiceId'
      - $ref: '#/components/parameters/GraphQLCostDecorationId'
      requestBody:
        description: Description of the GraphQL Cost Decoration
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GraphQLCostDecorationWithoutParents'
      responses:
        '200':
          description: Successfully upserted GraphQL Cost Decoration
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GraphQLCostDecoration'
      tags:
      - GraphQL Cost Decorations
components:
  schemas:
    GraphQLCostDecorationWithoutParents:
      type: object
      properties:
        add_arguments:
          type: array
          items:
            type: string
          default: []
          nullable: true
        add_constant:
          type: number
          default: 1
          nullable: true
        created_at:
          description: Unix epoch when the resource was created.
          type: integer
          nullable: true
        id:
          description: A string representing a UUID (universally unique identifier).
          type: string
          nullable: true
        mul_arguments:
          type: array
          items:
            type: string
          default: []
          nullable: true
        mul_constant:
          type: number
          default: 1
          nullable: true
        service:
          type: object
          nullable: true
          properties:
            id:
              type: string
          x-foreign: true
        type_path:
          type: string
      additionalProperties: false
      required:
      - type_path
    PaginationNextResponse:
      description: URI to the next page (may be null)
      type: string
    PaginationOffsetResponse:
      description: Offset is used to paginate through the API. Provide this value to the next list operation to fetch the next page
      type: string
    GraphQLCostDecoration:
      type: object
      properties:
        add_arguments:
          type: array
          items:
            type: string
          default: []
          nullable: true
        add_constant:
          type: number
          default: 1
          nullable: true
        created_at:
          description: Unix epoch when the resource was created.
          type: integer
          nullable: true
        id:
          description: A string representing a UUID (universally unique identifier).
          type: string
          nullable: true
        mul_arguments:
          type: array
          items:
            type: string
          default: []
          nullable: true
        mul_constant:
          type: number
          default: 1
          nullable: true
        service:
          type: object
          nullable: true
          properties:
            id:
              type: string
          x-foreign: true
        type_path:
          type: string
      additionalProperties: false
      required:
      - type_path
    GatewayUnauthorizedError:
      type: object
      properties:
        message:
          type: string
        status:
          type: integer
      required:
      - message
      - status
  parameters:
    ServiceId:
      description: ID of the Service to lookup
      example: 7fca84d6-7d37-4a74-a7b0-93e576089a41
      in: path
      name: ServiceId
      required: true
      schema:
        type: string
    GraphQLCostDecorationId:
      description: ID of the GraphQL Cost Decoration to lookup
      example: ''
      in: path
      name: GraphQLCostDecorationId
      required: true
      schema:
        type: string
    PaginationSize:
      description: Number of resources to be returned.
      in: query
      name: size
      schema:
        type: integer
        default: 100
        maximum: 1000
        minimum: 1
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
    PaginationOffset:
      allowEmptyValue: true
      description: Offset from which to return the next set of resources. Use the value of the 'offset' field from the response of a list operation as input here to paginate through all the resources
      in: query
      name: offset
      schema:
        type: string
    PaginationTagsFilter:
      allowEmptyValue: true
      description: A list of tags to filter the list of resources on. Multiple tags can be concatenated using ',' to mean AND or using '/' to mean OR.
      example: tag1,tag2
      in: query
      name: tags
      schema:
        type: string
  responses:
    HTTP401Error:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/GatewayUnauthorizedError'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
