openapi: 3.2.0
info:
  title: Konnect API - Go SDK DP Nodes API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- description: DP Nodes
  name: DP Nodes
paths:
  /v2/control-planes/{controlPlaneId}/expected-config-hash:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: get-expected-config-hash
      summary: Get an Expected Config Hash
      description: Retrieve the expected config hash for this control plane. The expected config hash can be used to verify if the config hash of a data plane node is up to date with the control plane. The config hash will be the same if they are in sync.
      responses:
        '200':
          $ref: '#/components/responses/GetExpectedConfigHashResponse'
      tags:
      - DP Nodes
  /v2/control-planes/{controlPlaneId}/nodes:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-dataplane-nodes
      summary: List Data Plane Node Records
      description: Returns a list of data plane node records that are associated to this control plane. A data plane node record contains metadata information for the data plane running Kong Gateway.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/list-nodes'
      tags:
      - DP Nodes
  /v2/control-planes/{controlPlaneId}/nodes/{nodeId}:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/nodeId'
    get:
      operationId: get-nodes-node_id
      summary: Get a Data Plane Node Record
      description: Retrieve a specific data plane node record associated to this control plane. A data plane node record contains all the metadata information of the Kong Gateway dataplane.
      parameters:
      - $ref: '#/components/parameters/pagination-size'
      - $ref: '#/components/parameters/pagination-tags-filter'
      responses:
        '200':
          $ref: '#/components/responses/get-node'
      tags:
      - DP Nodes
    delete:
      operationId: delete-nodes-node_id
      summary: Delete Data Plane Node Record
      description: Remove a specific data plane node record associated to this control plane. Deleting this record does not prevent the data plane node from re-connecting to the control plane.
      responses:
        '204':
          description: No Content
      tags:
      - DP Nodes
  /v2/control-planes/{controlPlaneId}/nodes/eol:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: get-nodes-eol
      summary: List End-of-Life Data Plane Node Records
      description: Returns a list of records of data plane nodes, whose versions are approaching End of Full Support/End of Life, that are associated with this control plane. Each record contains a data plane node's id, version, and corresponding resolution message to upgrade to the closest Long Term Support version.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      responses:
        '200':
          $ref: '#/components/responses/list-nodes-eol'
      tags:
      - DP Nodes
components:
  responses:
    list-nodes:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                    version:
                      type: string
                    hostname:
                      type: string
                    last_ping:
                      type: integer
                    type:
                      type: string
                    created_at:
                      type: integer
                    updated_at:
                      type: integer
                    config_hash:
                      type: string
                    compatibility_status:
                      type: object
                      properties:
                        state:
                          type: string
                        issues:
                          type: array
                          items:
                            $ref: '#/components/schemas/NodeCompatibilityIssue'
              page:
                type: object
                properties:
                  total:
                    type: integer
                  next:
                    type: string
    get-node:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              item:
                type: object
                properties:
                  id:
                    type: string
                  version:
                    type: string
                  hostname:
                    type: string
                  last_ping:
                    type: integer
                  type:
                    type: string
                  created_at:
                    type: integer
                  updated_at:
                    type: integer
                  config_hash:
                    type: string
                  compatibility_status:
                    type: object
                    properties:
                      state:
                        type: string
                      issues:
                        type: array
                        items:
                          $ref: '#/components/schemas/NodeCompatibilityIssue'
    GetExpectedConfigHashResponse:
      description: Response body for retrieving the expected config hash of the control plane.
      content:
        application/json:
          schema:
            type: object
            properties:
              expected_hash:
                description: The expected configuration hash.
                type: string
              created_at:
                description: Date the control plane configuration was created.
                type: integer
              updated_at:
                description: Date the control plane configuration was last updated.
                type: integer
            required:
            - expected_hash
            - created_at
            - updated_at
    list-nodes-eol:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  type: object
                  properties:
                    node_id:
                      type: string
                    node_version:
                      type: string
                    message:
                      type: string
              page:
                type: object
                properties:
                  total:
                    type: integer
  parameters:
    nodeId:
      schema:
        type: string
        format: uuid
        example: d32d905a-ed33-46a3-a093-d8f536af9a8a
      name: nodeId
      in: path
      required: true
      description: Node identifier
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
    pagination-size:
      description: Number of resources to be returned.
      in: query
      name: size
      schema:
        type: integer
        default: 100
        maximum: 1000
        minimum: 1
    pagination-tags-filter:
      description: A list of tags to filter the list of resources on. Multiple tags can be concatenated using ',' to mean AND or using '/' to mean OR.
      example: tag1,tag2
      in: query
      name: tags
      schema:
        type: string
    PageAfter:
      name: page[after]
      description: Request the next page of data, starting with the item after this parameter.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
  schemas:
    NodeCompatibilityIssue:
      type: object
      properties:
        code:
          description: The compatibility issue code.
          type: string
        severity:
          description: The severity of the issue.
          type: string
        description:
          description: The description of the issue.
          type: string
        resolution:
          description: Steps required to take in order to resolve the issue.
          type: string
        affected_resources:
          description: Details of the resources affected by the issue.
          type: array
          items:
            $ref: '#/components/schemas/NodeCompatibilityIssueAffectedResource'
        documentation_url:
          description: Doc URL for the compatibility issue.
          type: string
    NodeCompatibilityIssueAffectedResource:
      type: object
      properties:
        id:
          description: ID of the affected resource.
          type: string
        type:
          description: Type of the affected resource.
          type: string
        parent_code:
          description: Parent Issue Code.
          type: string
        details:
          description: Deatils of the affected resource.
          type: array
          items:
            type: string
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
