openapi: 3.2.0
info:
  title: Konnect API - Go SDK Catalog Resource Mappings API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: Catalog Resource Mappings
  description: 'Resource mappings represent the link between a resource and a service.

    Once a resource is mapped to a service, a rich view of the resource will be presented on the service page.

    A resource may be mapped to multiple services, but it cannot be mapped to the same service twice.

    If a resource mapped to a service is later archived, the resource mapping will be deleted.

    '
paths:
  /v1/resource-mappings:
    post:
      operationId: create-resource-mapping
      summary: Create Resource Mapping
      description: Creates a mapping between a catalog resource and service.
      requestBody:
        $ref: '#/components/requestBodies/CreateCatalogResourceMappingRequest'
      responses:
        '201':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
      - Catalog Resource Mappings
    get:
      operationId: list-resource-mappings
      summary: List Resource Mappings
      description: Returns a paginated collection of catalog resource mappings.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/CatalogResourceMappingFilter'
      - $ref: '#/components/parameters/CatalogResourceMappingSort'
      responses:
        '200':
          $ref: '#/components/responses/ListCatalogResourceMappingsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - Catalog Resource Mappings
  /v1/resource-mappings/{resourceMappingId}:
    parameters:
    - name: resourceMappingId
      in: path
      description: The `id` of the resource mapping.
      required: true
      schema:
        type: string
        format: uuid
        example: d277faad-ed4e-4c56-a0fb-acce065dee34
      x-speakeasy-match: id
    get:
      operationId: fetch-resource-mapping
      summary: Get a Resource Mapping
      description: Fetches a resource mapping by ID.
      responses:
        '200':
          $ref: '#/components/responses/CatalogResourceMappingResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Catalog Resource Mappings
    delete:
      operationId: delete-resource-mapping
      summary: Delete Resource Mapping
      description: Removes an existing mapping between a catalog resource and service.
      responses:
        '204':
          description: Resource Mapping was deleted successfully.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Catalog Resource Mappings
components:
  schemas:
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    StringFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`, `contains`, `ocontains`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        contains:
          description: The field contains the provided value.
          type: string
        ocontains:
          description: The field contains any of the provided values.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
      - page
      title: PaginatedMeta
      x-speakeasy-terraform-ignore: true
    IntegrationRef:
      description: Short-hand descriptor of an integration installed within the catalog.
      type: object
      properties:
        name:
          type: string
          example: gateway-manager
        display_name:
          type: string
          example: gateway-manager
        instance:
          $ref: '#/components/schemas/IntegrationInstanceRef'
      required:
      - name
      - display_name
      - instance
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    CatalogResourceMapping:
      description: Describes a mapping between a catalog resource and a service.
      type: object
      properties:
        id:
          description: The resource mapping ID.
          type: string
          format: uuid
          example: d277faad-ed4e-4c56-a0fb-acce065dee34
        resource:
          $ref: '#/components/schemas/CatalogResourceRef'
        service:
          $ref: '#/components/schemas/CatalogServiceRef'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
      required:
      - id
      - resource
      - service
      - created_at
    UuidFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    CatalogResourceConfigFieldFilter:
      description: "Filters on the resource's `config` field. Filters must use dot-notation to identify\nthe property that will be used to filter the results. For example:\n\n\n  - `filter[config.control_plane_id]`\n  - `filter[config.gateway_service_id][neq]=cedbd134-fc5c-4d44-9e38-ccd2a0c6e0ae`\n"
      type: object
      properties:
        eq:
          type: string
        contains:
          type: string
        ocontains:
          type: string
        oeq:
          type: string
        neq:
          type: string
      additionalProperties: false
      required:
      - contains
      - ocontains
      - oeq
      - neq
      title: CatalogResourceConfigFieldFilter
    CatalogResourceType:
      description: 'The resource type. Available resource types are compiled from the integrations installed within the catalog.

        '
      type: string
      example: gateway_svc
      maxLength: 120
      minLength: 1
    IntegrationInstanceRef:
      description: Short-hand descriptor of an integration instance.
      type: object
      properties:
        id:
          description: The integration instance ID.
          type: string
          format: uuid
          example: 772b9caf-ddbc-4f4f-8aa4-8dfbbe420351
        name:
          description: 'The machine name of the integration instance that uniquely identifies it within the catalog.

            '
          type: string
          example: aws-lambda-prod
          pattern: ^[0-9a-z.-]+$
        display_name:
          description: The display name of the integration instance.
          type: string
          example: AWS (prod)
      required:
      - id
      - name
      - display_name
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
          x-speakeasy-terraform-ignore: true
        size:
          type: number
          example: 10
          x-speakeasy-terraform-ignore: true
        total:
          type: number
          example: 100
          x-speakeasy-terraform-ignore: true
      required:
      - number
      - size
      - total
    CatalogResourceRef:
      description: Short-hand descriptor of a catalog resource.
      type: object
      properties:
        id:
          $ref: '#/components/schemas/CatalogResourceId'
        name:
          description: The name of the resource.
          type: string
          nullable: true
        integration:
          $ref: '#/components/schemas/IntegrationRef'
        type:
          $ref: '#/components/schemas/CatalogResourceType'
        config:
          $ref: '#/components/schemas/CatalogResourceConfig'
      required:
      - id
      - name
      - type
      - config
      - integration
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    DateTimeFieldFilter:
      description: Filters on the given datetime (RFC-3339) field value.
      oneOf:
      - type: object
        title: DateTimeFieldEqualsFilter
        additionalProperties: false
        properties:
          eq:
            description: Value strictly equals given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - eq
      - type: object
        title: DateTimeFieldLTFilter
        additionalProperties: false
        properties:
          lt:
            description: Value is less than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lt
      - type: object
        title: DateTimeFieldLTEFilter
        additionalProperties: false
        properties:
          lte:
            description: Value is less than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lte
      - type: object
        title: DateTimeFieldGTFilter
        additionalProperties: false
        properties:
          gt:
            description: Value is greater than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gt
      - type: object
        title: DateTimeFieldGTEFilter
        additionalProperties: false
        properties:
          gte:
            description: Value is greater than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gte
      title: DateTimeFieldFilter
    StringFieldFilterExact:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    CatalogServiceRef:
      description: Short-hand descriptor of a catalog service.
      type: object
      properties:
        id:
          description: The service ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
        name:
          description: 'The machine name of the service that uniquely identifies it within the catalog.

            '
          type: string
          example: user-svc
        display_name:
          description: The display name of the service.
          type: string
          example: User Service
      required:
      - id
      - name
      - display_name
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    CatalogResourceMappingFilterParameters:
      type: object
      properties:
        resource.id:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilterExact'
        resource.name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        resource.type:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        resource.config:
          oneOf:
          - $ref: '#/components/schemas/CatalogResourceConfigFieldFilter'
        resource.integration.name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.display_name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.instance.id:
          oneOf:
          - $ref: '#/components/schemas/UuidFieldFilter'
        resource.integration.instance.name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        resource.integration.instance.display_name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        service.id:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilterExact'
        service.name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        service.display_name:
          oneOf:
          - $ref: '#/components/schemas/StringFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    SortQuery:
      description: 'The `asc` suffix is optional as the default sort order is ascending.

        The `desc` suffix is used to specify a descending order.

        Multiple sort attributes may be provided via a comma separated list.

        JSONPath notation may be used to specify a sub-attribute (eg: ''foo.bar desc'').

        '
      type: string
      example: created_at desc
      title: SortQuery
    CatalogResourceId:
      description: The resource ID.
      type: string
      format: base64url
      example: 4UdXnoaDYYJsH_Ir
      maxLength: 16
      minLength: 16
    CreateCatalogResourceMapping:
      type: object
      properties:
        service:
          description: The `id` or `name` of the service to map the resource to.
          type: string
          example: user-svc
          x-speakeasy-name-override: service_id
        resource:
          oneOf:
          - $ref: '#/components/schemas/CatalogResourceId'
          - $ref: '#/components/schemas/CreateCatalogResourceMappingResourceByConfig'
      additionalProperties: false
      required:
      - service
      - resource
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    CreateCatalogResourceMappingResourceByConfig:
      type: object
      properties:
        integration_instance:
          description: The `id` or `name` of the integration instance the resource belongs to.
          type: string
          example: aws-lambda-prod
        type:
          $ref: '#/components/schemas/CatalogResourceType'
        config:
          $ref: '#/components/schemas/CatalogResourceConfig'
      additionalProperties: false
      required:
      - integration_instance
      - type
      - config
      title: CreateCatalogResourceMappingResourceByConfig
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    CatalogResourceConfig:
      description: 'JSON object representing the properties used to identify the resource in the third-party system.

        The schema depends on the resource type and is dynamically registered at runtime.

        '
      type: object
      example:
        control_plane_id: ccadfb0a-56cd-4f74-955d-aec1d87157c8
        gateway_service_id: 94896d05-0c4d-45eb-aae3-de754885dd58
      additionalProperties: true
      x-speakeasy-type-override: any
  responses:
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ListCatalogResourceMappingsResponse:
      description: A paginated list response for a collection of catalog resource mappings.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/CatalogResourceMapping'
            additionalProperties: false
            required:
            - meta
            - data
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    CatalogResourceMappingResponse:
      description: A response containing a single catalog resource mapping.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CatalogResourceMapping'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
  parameters:
    PageNumber:
      name: page[number]
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
      x-speakeasy-terraform-ignore: true
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    CatalogResourceMappingFilter:
      name: filter
      description: Filters a collection of resource mappings.
      required: false
      in: query
      style: deepObject
      schema:
        $ref: '#/components/schemas/CatalogResourceMappingFilterParameters'
    CatalogResourceMappingSort:
      name: sort
      description: "Sorts a collection of resource mappings. Supported sort attributes are:\n  - `created_at`\n\nDefault sort is `created_at` in descending order.\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
  requestBodies:
    CreateCatalogResourceMappingRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/CreateCatalogResourceMapping'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
