openapi: 3.2.0
info:
  title: Konnect API - Go SDK API Implementation API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: API Implementation
paths:
  /v3/api-implementations:
    get:
      operationId: list-api-implementations
      summary: List API Implementations
      description: List gateway implementations for this API
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - $ref: '#/components/parameters/ApiImplementationFilters'
      - $ref: '#/components/parameters/ApiImplementationSort'
      responses:
        '200':
          $ref: '#/components/responses/ListApiImplementationsResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
      - API Implementation
  /v3/apis/{apiId}/implementations:
    parameters:
    - $ref: '#/components/parameters/ApiId'
    post:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#create
        terraform-datasource: null
      operationId: create-api-implementation
      summary: Create API Implementation
      description: 'Creates an implementation for an API.

        If all operations in an API are implemented by a single gateway service and the service

        has no routes that are not part of the API, then the API can be linked to the service.

        For cases where an API is implemented by multiple gateway services, only a subset of

        routes in one or more gateway services, or API operations need to be made available for API packages,

        then the API should be linked to the control plane that defines the routes that overlap with the API.

        '
      requestBody:
        $ref: '#/components/requestBodies/CreateApiImplementationRequest'
      responses:
        '201':
          $ref: '#/components/responses/ApiImplementationResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
        '409':
          $ref: '#/components/responses/ApiImplementationConflict'
      tags:
      - API Implementation
  /v3/apis/{apiId}/implementations/{implementationId}:
    parameters:
    - $ref: '#/components/parameters/ApiId'
    - $ref: '#/components/parameters/ImplementationId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#read
        terraform-datasource: null
      operationId: fetch-api-implementation
      summary: Get an API Implementation
      description: Retrieve a gateway implementation for this API
      responses:
        '200':
          $ref: '#/components/responses/ApiImplementationResponse'
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
      - API Implementation
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: ApiImplementation#delete
        terraform-datasource: null
      operationId: delete-api-implementation
      summary: Delete API Implementation
      description: Unlink a gateway implementation from this API
      responses:
        '204':
          description: API implementation was unlinked successfully.
        '401':
          $ref: '#/components/responses/ApiUnauthorized'
        '403':
          $ref: '#/components/responses/ApiForbidden'
        '404':
          $ref: '#/components/responses/ApiNotFound'
      tags:
      - API Implementation
components:
  schemas:
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
      - page
      title: PaginatedMeta
      x-speakeasy-terraform-ignore: true
    UUID:
      description: Contains a unique identifier used for this resource.
      type: string
      format: uuid
      example: 5f9fd312-a987-4628-b4c5-bb4f4fddd5f7
      readOnly: true
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    UuidFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `oeq`, `neq`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        oeq:
          description: The field matches any of the provided values.
          type: string
        neq:
          description: The field does not match the provided value.
          type: string
      additionalProperties: false
    ApiImplementationListItem:
      description: An entity that implements an API
      type: object
      oneOf:
      - $ref: '#/components/schemas/ApiImplementationListItemGatewayServiceEntity'
      - $ref: '#/components/schemas/ApiImplementationListItemControlPlaneEntity'
      title: API Implementation List Item
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
          x-speakeasy-terraform-ignore: true
        size:
          type: number
          example: 10
          x-speakeasy-terraform-ignore: true
        total:
          type: number
          example: 100
          x-speakeasy-terraform-ignore: true
      required:
      - number
      - size
      - total
    ApiImplementationGatewayServiceEntity:
      description: A gateway service that implements an API
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        service:
          $ref: '#/components/schemas/ApiImplementationService'
      additionalProperties: false
      title: ApiImplementationGatewayServiceEntity
      x-speakeasy-name-override: Service Reference
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    ApiImplementationFilterParameters:
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UuidFieldFilter'
        api_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        service_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        control_plane_id:
          $ref: '#/components/schemas/UuidFieldFilter'
        created_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
        updated_at:
          $ref: '#/components/schemas/DateTimeFieldFilter'
      title: API Implementation Filter Parameters
    DateTimeFieldFilter:
      description: Filters on the given datetime (RFC-3339) field value.
      oneOf:
      - type: object
        title: DateTimeFieldEqualsFilter
        additionalProperties: false
        properties:
          eq:
            description: Value strictly equals given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - eq
      - type: object
        title: DateTimeFieldLTFilter
        additionalProperties: false
        properties:
          lt:
            description: Value is less than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lt
      - type: object
        title: DateTimeFieldLTEFilter
        additionalProperties: false
        properties:
          lte:
            description: Value is less than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - lte
      - type: object
        title: DateTimeFieldGTFilter
        additionalProperties: false
        properties:
          gt:
            description: Value is greater than the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gt
      - type: object
        title: DateTimeFieldGTEFilter
        additionalProperties: false
        properties:
          gte:
            description: Value is greater than or equal to the given RFC-3339 formatted timestamp in UTC
            type: string
            format: date-time
            example: '2022-03-30T07:20:50Z'
        required:
        - gte
      title: DateTimeFieldFilter
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    ApiImplementationControlPlane:
      description: A Control plane that implements an API
      type: object
      properties:
        access_control_enforcement_enabled:
          description: Indicates if the access control enforcement plugin is installed globally in the target control plane
          type: boolean
          readOnly: true
        control_plane_id:
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
          x-speakeasy-name-override: id
      additionalProperties: false
      required:
      - control_plane_id
      title: API Implementation Control Plane
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    SortQuery:
      description: 'The `asc` suffix is optional as the default sort order is ascending.

        The `desc` suffix is used to specify a descending order.

        Multiple sort attributes may be provided via a comma separated list.

        JSONPath notation may be used to specify a sub-attribute (eg: ''foo.bar desc'').

        '
      type: string
      example: created_at desc
      title: SortQuery
    ApiImplementation:
      description: An entity that implements an API
      type: object
      oneOf:
      - $ref: '#/components/schemas/ApiImplementationGatewayServiceEntity'
      - $ref: '#/components/schemas/ApiImplementationControlPlaneEntity'
      title: API Implementation
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    ApiImplementationService:
      description: A Gateway service that implements an API
      type: object
      properties:
        control_plane_id:
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
        id:
          type: string
          format: uuid
          example: 7710d5c4-d902-410b-992f-18b814155b53
        auth_strategy_sync_error:
          allOf:
          - $ref: '#/components/schemas/AuthStrategyApiSyncError'
          readOnly: true
          x-speakeasy-ignore: true
      additionalProperties: false
      required:
      - control_plane_id
      - id
      title: API Implementation Service
    ApiImplementationListItemControlPlaneEntity:
      description: An API Implementation list item for control planes
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        control_plane:
          $ref: '#/components/schemas/ApiImplementationControlPlane'
      additionalProperties: false
      required:
      - id
      - api_id
      - created_at
      - updated_at
      - control_plane
      title: ApiImplementationListItemControlPlaneEntity
    AuthStrategyApiSyncError:
      type: object
      properties:
        control_plane_error:
          type: string
          enum:
          - control_plane_error_no_response
          - control_plane_error_invalid_response
          - control_plane_error_unavailable
          - control_plane_error_internal_error
          - control_plane_error_bad_request
          - control_plane_error_plugin_conflict
          - control_plane_error_data_constraint_error
          - control_plane_error_implementation_not_found
          x-speakeasy-unknown-values: allow
        message:
          type: string
        info:
          type: object
          additionalProperties: true
          properties:
            details:
              type: array
              items:
                type: object
                additionalProperties: true
                properties:
                  type:
                    type: string
                  message:
                    type: array
                    items:
                      type: string
      example:
        control_plane_error: control_plane_error_unavailable
        message: Unable to connect to the control plane to update plugin
      additionalProperties: false
      nullable: true
      required:
      - message
    ApiImplementationListItemGatewayServiceEntity:
      description: An API Implementation list item for gateway services
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        api_id:
          description: The API identifier.
          type: string
          format: uuid
          example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
          readOnly: true
        service:
          $ref: '#/components/schemas/ApiImplementationService'
      additionalProperties: false
      required:
      - id
      - api_id
      - created_at
      - updated_at
      title: ApiImplementationListItemGatewayServiceEntity
    ApiImplementationControlPlaneEntity:
      description: A control plane that implements an API
      type: object
      properties:
        id:
          $ref: '#/components/schemas/UUID'
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
        control_plane:
          $ref: '#/components/schemas/ApiImplementationControlPlane'
      additionalProperties: false
      title: ApiImplementationControlPlaneEntity
      x-speakeasy-name-override: Control Plane Reference
  responses:
    ApiUnauthorized:
      description: ApiUnauthorized
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    ListApiImplementationsResponse:
      description: Paginated list of API implementations
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/ApiImplementationListItem'
            additionalProperties: false
            required:
            - data
            - meta
            title: ListApiImplementations
    ApiImplementationConflict:
      description: Conflict - A gateway service can only be linked to a single API
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    ApiNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    ApiForbidden:
      description: ApiForbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ApiImplementationResponse:
      description: An API implementation
      content:
        application/json:
          schema:
            description: An entity that implements an API
            type: object
            oneOf:
            - $ref: '#/components/schemas/ApiImplementationGatewayServiceEntity'
            - $ref: '#/components/schemas/ApiImplementationControlPlaneEntity'
            required:
            - id
            - created_at
            - updated_at
            title: API Implementation
  parameters:
    PageNumber:
      name: page[number]
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
      x-speakeasy-terraform-ignore: true
    ApiImplementationSort:
      name: sort
      description: "Sorts a collection of API implementations. Supported sort attributes are:\n\n\n  - id\n  - api_id\n  - control_plane_id\n  - service_id\n  - created_at\n  - updated_at\n"
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/SortQuery'
    ImplementationId:
      schema:
        type: string
        format: uuid
        example: 032d905a-ed33-46a3-a093-d8f536af9a8a
      name: implementationId
      in: path
      required: true
      description: The Portal identifier
      x-speakeasy-match: id
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    ApiId:
      schema:
        type: string
        format: uuid
        example: 9f5061ce-78f6-4452-9108-ad7c02821fd5
      name: apiId
      in: path
      required: true
      description: The UUID API identifier
    ApiImplementationFilters:
      name: filter
      description: Filters APIs in the response.
      required: false
      in: query
      schema:
        $ref: '#/components/schemas/ApiImplementationFilterParameters'
      style: deepObject
  requestBodies:
    CreateApiImplementationRequest:
      required: true
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ApiImplementation'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
