openapi: 3.2.0
info:
  title: Konnect API - Go SDK Event Gateways API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: Event Gateways
  description: 'Create an Event Gateway Control Plane, used to store Event Gateway configuration

    '
paths:
  /v1/event-gateways:
    get:
      operationId: list-event-gateways
      summary: List all Event Gateways
      description: Returns an array of gateway objects containing information about the Konnect Event Gateways.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/EventGatewayCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListEventGatewaysResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
      - Event Gateways
    post:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#create
        terraform-datasource: null
      operationId: create-event-gateway
      summary: Create Event Gateway
      description: Create a Event gateway in the Konnect Organization.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateGatewayRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
      - Event Gateways
  /v1/event-gateways/{gatewayId}:
    parameters:
    - name: gatewayId
      in: path
      description: The UUID of your Gateway.
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#read
        terraform-datasource: null
      operationId: get-event-gateway
      summary: Get an Event Gateway
      description: Returns information about an individual Event gateway.
      responses:
        '200':
          description: A response to retrieving a single eventgateway.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventGatewayInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
      - Event Gateways
    put:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#update
        terraform-datasource: null
      operationId: update-event-gateway
      summary: Update Event Gateway
      description: Update an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
      - Event Gateways
    patch:
      operationId: patch-event-gateway
      summary: Partially Update Event Gateway
      description: Patch an individual gateway.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchGatewayRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateGatewayResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/Internal'
        '503':
          $ref: '#/components/responses/NotAvailable'
      tags:
      - Event Gateways
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: EventGateway#delete
        terraform-datasource: null
      operationId: delete-event-gateway
      summary: Delete Event Gateway
      description: Delete an individual gateway.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Event Gateways
components:
  schemas:
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    GatewayDescription:
      description: A human-readable description of the Gateway.
      type: string
      maxLength: 512
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    CursorMetaPage:
      type: object
      properties:
        first:
          description: URI to the first page
          type: string
          format: path
        last:
          description: URI to the last page
          type: string
          format: path
        next:
          description: URI to the next page
          type: string
          format: path
          nullable: true
        previous:
          description: URI to the previous page
          type: string
          format: path
          nullable: true
        size:
          description: Requested page size
          type: number
          example: 10
      required:
      - size
      - next
      - previous
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    GatewayName:
      description: The name of the Gateway.
      type: string
      maxLength: 255
      minLength: 1
      x-unicode-pattern: ^[\p{L}\p{N}][\p{L}\p{N} _\-\.:/+']*[\p{L}\p{N}]$
    StringFieldContainsFilter:
      description: Filters on the given string field value by fuzzy match.
      type: object
      properties:
        contains:
          type: string
      additionalProperties: false
      required:
      - contains
      title: StringFieldContainsFilter
    CreateGatewayRequest:
      description: The request schema for the create gateway request.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GatewayName'
        description:
          $ref: '#/components/schemas/GatewayDescription'
        min_runtime_version:
          $ref: '#/components/schemas/MinRuntimeVersion'
        labels:
          $ref: '#/components/schemas/Labels'
      additionalProperties: false
      required:
      - name
      title: CreateGatewayRequest
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    Labels:
      description: "Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. \n\nKeys must be of length 1-63 characters, and cannot start with \"kong\", \"konnect\", \"mesh\", \"kic\", or \"_\".\n"
      type: object
      example:
        env: test
      additionalProperties:
        type: string
        pattern: ^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$
        minLength: 1
        maxLength: 63
      maxProperties: 50
      title: Labels
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    CursorMeta:
      description: Pagination metadata.
      type: object
      properties:
        page:
          $ref: '#/components/schemas/CursorMetaPage'
      required:
      - page
    EventGatewayInfo:
      description: The gateway object contains information about a Konnect gateway.
      type: object
      properties:
        id:
          description: The gateway ID.
          type: string
          format: uuid
          example: 7f9fd312-a987-4628-b4c5-bb4f4fddd5f7
          readOnly: true
          x-speakeasy-param-suppress-computed-diff: true
        name:
          $ref: '#/components/schemas/GatewayName'
        description:
          $ref: '#/components/schemas/GatewayDescription'
        labels:
          $ref: '#/components/schemas/Labels'
        created_at:
          description: An ISO-8604 timestamp representation of gateway creation date.
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          readOnly: true
          x-speakeasy-terraform-ignore: true
        updated_at:
          description: An ISO-8604 timestamp representation of gateway update date.
          type: string
          format: date-time
          example: '2022-11-04T20:10:06.927Z'
          readOnly: true
          x-speakeasy-terraform-ignore: true
        nodes_total:
          description: The total number of nodes associated with the Event Gateway.
          type: integer
        virtual_clusters_total:
          description: The total number of virtual clusters associated with the Event Gateway.
          type: integer
        min_runtime_version:
          $ref: '#/components/schemas/MinRuntimeVersion'
        version:
          description: 'The version number of the event gateway. Every change to an entity

            under this gateway will modify the version.

            '
          type: string
          example: v1.123
      additionalProperties: false
      required:
      - id
      - name
      - created_at
      - updated_at
      - nodes_total
      - virtual_clusters_total
      - min_runtime_version
      - version
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    MinRuntimeVersion:
      description: 'The minimum runtime version supported by the API. This is the lowest version of the data plane

        release that can be used with the entity model.

        When not specified, the minimum runtime version will be pinned to the latest available release.

        '
      type: string
      example: '1.1'
      pattern: ^\d+\.\d+$
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    PatchGatewayRequest:
      description: The request schema for the patch gateway request.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GatewayName'
        description:
          description: A human-readable description of the Gateway.
          type: string
          maxLength: 512
          nullable: true
        min_runtime_version:
          description: 'The minimum runtime version supported by the API. This is the lowest version of the data plane

            release that can be used with the entity model.

            When not specified, the minimum runtime version will not be updated.

            '
          type: string
          example: '1.1'
          nullable: true
          pattern: ^\d+\.\d+$
        labels:
          description: "Labels store metadata of an entity that can be used for filtering an entity list or for searching across entity types. \n\nKeys must be of length 1-63 characters, and cannot start with \"kong\", \"konnect\", \"mesh\", \"kic\", or \"_\".\n"
          type: object
          example:
            env: test
          additionalProperties:
            type: string
            pattern: ^[a-z0-9A-Z]{1}([a-z0-9A-Z-._]*[a-z0-9A-Z]+)?$
            minLength: 1
            maxLength: 63
          maxProperties: 50
          nullable: true
          title: Labels
      additionalProperties: false
      title: PatchGatewayRequest
    MinRuntimeVersionUpdate:
      description: 'The minimum runtime version supported by the API. This is the lowest version of the data plane

        release that can be used with the entity model.

        When not specified, the minimum runtime version will not be updated.

        '
      type: string
      example: '1.1'
      pattern: ^\d+\.\d+$
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    UpdateGatewayRequest:
      description: The request schema for the update gateway request.
      type: object
      properties:
        name:
          $ref: '#/components/schemas/GatewayName'
        description:
          $ref: '#/components/schemas/GatewayDescription'
        min_runtime_version:
          $ref: '#/components/schemas/MinRuntimeVersionUpdate'
        labels:
          $ref: '#/components/schemas/Labels'
      additionalProperties: false
      title: UpdateGatewayRequest
  responses:
    UpdateGatewayResponse:
      description: A response to updating a gateway.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventGatewayInfo'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    Internal:
      description: Internal
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BaseError'
    NotAvailable:
      description: Service not available
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BaseError'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    ListEventGatewaysResponse:
      description: A paginated list response for a collection of gateways.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/CursorMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/EventGatewayInfo'
            additionalProperties: false
            required:
            - meta
            - data
            title: ListEventGatewaysResponse
    CreateGatewayResponse:
      description: A response to creating a gateway.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/EventGatewayInfo'
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
  parameters:
    EventGatewayCommonFilter:
      schema:
        type: object
        properties:
          name:
            $ref: '#/components/schemas/StringFieldContainsFilter'
      in: query
      name: filter
      description: Filter documents returned in the response.
      required: false
      style: deepObject
    PageAfter:
      name: page[after]
      description: Request the next page of data, starting with the item after this parameter.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
