openapi: 3.2.0
info:
  title: Konnect API - Go SDK DP Certificates API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- description: DP Certificates
  name: DP Certificates
paths:
  /v2/control-planes/{controlPlaneId}/dp-client-certificates:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-dp-client-certificates
      summary: List DP Client Certificates
      description: Returns a list of pinned dataplane client certificates that are associated to this control plane. A pinned dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this control plane.
      responses:
        '200':
          $ref: '#/components/responses/ListDataPlaneCertificatesResponse'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - DP Certificates
    post:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayDataPlaneClientCertificate#create
        terraform-datasource: null
      operationId: create-dataplane-certificate
      summary: Pin New DP Client Certificate
      description: Pin a new DP Client Certificate to this control plane. A pinned dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this control plane.
      requestBody:
        $ref: '#/components/requestBodies/DataPlaneClientCertificateRequest'
      responses:
        '201':
          $ref: '#/components/responses/DataPlaneClientCertificateResponse'
        '400':
          $ref: '#/components/responses/KonnectCPLegacyBadRequest'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - DP Certificates
  /v2/control-planes/{controlPlaneId}/dp-client-certificates/{certificateId}:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/DataPlaneCertificateId'
    get:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayDataPlaneClientCertificate#read
        terraform-datasource: null
      operationId: get-dataplane-certificate
      summary: Get a DP Client Certificate
      description: Retrieve a pinned dataplane client certificate associated to this control plane. A pinned dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this control plane.
      responses:
        '200':
          $ref: '#/components/responses/DataPlaneClientCertificateResponse'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - DP Certificates
    put:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayDataPlaneClientCertificate#update
        terraform-datasource: null
      operationId: update-dataplane-certificate
      summary: Update DP Client Certificate
      description: Update a DP Client Certificate for this control plane. A dataplane certificate allows dataplanes configured with the certificate and corresponding private key to establish connection with this control plane.
      requestBody:
        $ref: '#/components/requestBodies/DataPlaneClientCertificateRequest'
      responses:
        '200':
          $ref: '#/components/responses/DataPlaneClientCertificateResponse'
        '400':
          $ref: '#/components/responses/KonnectCPLegacyBadRequest'
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - DP Certificates
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: GatewayDataPlaneClientCertificate#delete
        terraform-datasource: null
      operationId: delete-dataplane-certificate
      summary: Delete DP Client Certificate
      description: Remove a pinned dataplane client certificate associated to this control plane. Removing a pinned dataplane certificate would invalidate any dataplanes currently connected to this control plane using this certificate.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/KonnectCPLegacyUnauthorized'
        '403':
          $ref: '#/components/responses/KonnectCPLegacyForbidden'
        '404':
          $ref: '#/components/responses/KonnectCPLegacyNotFound'
      tags:
      - DP Certificates
components:
  schemas:
    DataPlaneClientCertificate:
      x-speakeasy-entity: GatewayDataPlaneClientCertificate
      type: object
      properties:
        id:
          description: Unique ID of the certificate entity.
          type: string
        created_at:
          description: Date certificate was created.
          type: integer
        updated_at:
          description: Date certificate was last updated.
          type: integer
        cert:
          description: JSON escaped string of the certificate.
          type: string
        title:
          description: Title of the certificate.
          type: string
    KonnectCPLegacyBadRequestError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Bad Request
    KonnectCPLegacyForbiddenError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Forbidden
    KonnectCPLegacyNotFoundError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Not Found
    KonnectCPLegacyUnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/KonnectCPLegacyBaseError'
      - type: object
        properties:
          message:
            example: Unauthorized
    KonnectCPLegacyBaseError:
      description: standard error
      type: object
      properties:
        message:
          description: 'A short summary of the problem.

            '
          type: string
          readOnly: true
      title: Error
  requestBodies:
    DataPlaneClientCertificateRequest:
      content:
        application/json:
          schema:
            type: object
            properties:
              cert:
                description: JSON escaped string of the certificate.
                type: string
              title:
                description: Title for the certificate.
                type: string
            required:
            - cert
      description: Request body for creating a dp-client-certificate.
  responses:
    KonnectCPLegacyForbidden:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyForbiddenError'
    KonnectCPLegacyBadRequest:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyBadRequestError'
    DataPlaneClientCertificateResponse:
      description: Response body for retrieving a dp-client-certificate.
      content:
        application/json:
          schema:
            type: object
            properties:
              item:
                $ref: '#/components/schemas/DataPlaneClientCertificate'
    KonnectCPLegacyUnauthorized:
      description: Unauthorized
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyUnauthorizedError'
    KonnectCPLegacyNotFound:
      description: Forbidden
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/KonnectCPLegacyNotFoundError'
    ListDataPlaneCertificatesResponse:
      description: Example response
      content:
        application/json:
          schema:
            type: object
            properties:
              items:
                type: array
                items:
                  $ref: '#/components/schemas/DataPlaneClientCertificate'
              page:
                type: object
                properties:
                  total:
                    type: integer
  parameters:
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
    DataPlaneCertificateId:
      name: certificateId
      in: path
      schema:
        type: string
      required: true
      x-speakeasy-match: id
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
