openapi: 3.2.0
info:
  title: Konnect API - Go SDK Portal Integrations API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: Portal Integrations
  description: APIs to configure Konnect Developer Portal integrations.
paths:
  /v3/portals/{portalId}/integrations:
    get:
      operationId: get-portal-integrations
      summary: Get Portal Integration Configurations
      description: Returns the portal integration configurations.
      parameters:
      - $ref: '#/components/parameters/PortalId'
      responses:
        '200':
          $ref: '#/components/responses/PortalIntegrationsResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Portal Integrations
    put:
      operationId: upsert-portal-integrations
      summary: Replace Integration Configurations
      description: Replace the portal integration configurations.
      parameters:
      - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/ReplacePortalIntegrations'
      responses:
        '200':
          $ref: '#/components/responses/PortalIntegrationsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Portal Integrations
    patch:
      operationId: update-portal-integrations
      summary: Update Integration Configurations
      description: Update the portal integration configurations, merging properties.
      parameters:
      - $ref: '#/components/parameters/PortalId'
      requestBody:
        $ref: '#/components/requestBodies/UpdatePortalIntegrations'
      responses:
        '200':
          $ref: '#/components/responses/PortalIntegrationsResponse'
        '400':
          description: Bad Request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/BadRequestError'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - Portal Integrations
components:
  schemas:
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    GoogleAnalytics4Integration:
      description: Google Analytics integration configuration
      type: object
      properties:
        enabled:
          description: Whether the integration is enabled
          type: boolean
        type:
          description: The type of the integration for categorization
          type: string
          enum:
          - analytics
        config_data:
          description: Configuration data for the Google Analytics integration
          type: object
          additionalProperties: false
          properties:
            id:
              description: The Google Analytics measurement ID
              type: string
              example: G-XXXXXXX
              maxLength: 20
              minLength: 5
              pattern: ^G-[A-Za-z0-9-]+$
              x-validation-message: 'must be a valid Google Analytics ID (format: G-XXXXXXX)'
            l:
              description: The datalayer's name you want data to be associated with
              type: string
              example: myNewName
              maxLength: 100
              nullable: true
          required:
          - id
      additionalProperties: false
      nullable: true
      required:
      - enabled
      - type
      - config_data
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    GoogleAnalytics4IntegrationConfigProperties:
      description: Configuration data for the Google Analytics integration
      type: object
      properties:
        id:
          description: The Google Analytics measurement ID
          type: string
          example: G-XXXXXXX
          maxLength: 20
          minLength: 5
          pattern: ^G-[A-Za-z0-9-]+$
          x-validation-message: 'must be a valid Google Analytics ID (format: G-XXXXXXX)'
        l:
          description: The datalayer's name you want data to be associated with
          type: string
          example: myNewName
          maxLength: 100
          nullable: true
      additionalProperties: false
    PortalIntegrations:
      description: Configuration data for Dev Portal integrations
      type: object
      properties:
        google_tag_manager:
          $ref: '#/components/schemas/GoogleTagManagerIntegration'
        google_analytics_4:
          $ref: '#/components/schemas/GoogleAnalytics4Integration'
      default: {}
      additionalProperties: false
      title: Portal Integrations
    UpdateGoogleTagManagerIntegration:
      description: Partially update Google Tag Manager integration configuration
      type: object
      properties:
        enabled:
          description: Whether the integration is enabled
          type: boolean
        type:
          description: The type of the integration for categorization
          type: string
          enum:
          - tracking
        config_data:
          type: object
          $ref: '#/components/schemas/GoogleTagManagerIntegrationConfigProperties'
      additionalProperties: false
      nullable: true
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    GoogleTagManagerIntegrationConfigProperties:
      description: Configuration data for the Google Tag Manager integration
      type: object
      properties:
        id:
          description: The Google Tag Manager container ID
          type: string
          example: GTM-XXXXXX
          maxLength: 20
          minLength: 5
          pattern: ^GTM-[A-Za-z0-9]+$
          x-validation-message: 'must be a valid GTM container ID (format: GTM-XXXXXX)'
        l:
          description: Optional dataLayer variable name
          type: string
          example: myNewName
          maxLength: 100
          nullable: true
        preview:
          description: Preview environment name
          type: string
          example: preview
          maxLength: 100
          nullable: true
        cookies_win:
          description: Forces GTM cookies to take precedence when true
          type: boolean
          nullable: true
        debug:
          description: Enables debug mode when true
          type: boolean
          nullable: true
        npa:
          description: No Personal Advertising - disables advertising features when true
          type: boolean
          nullable: true
        data_layer:
          description: Custom dataLayer name (alternative to "l" property)
          type: string
          example: myNewName
          maxLength: 100
          nullable: true
        env_name:
          description: Environment name for environment-specific container
          type: string
          example: production
          maxLength: 100
          nullable: true
        auth_referrer_policy:
          description: Referrer policy for analytics requests
          type: string
          example: no-referrer
          maxLength: 100
          nullable: true
      additionalProperties: false
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    UpdateGoogleAnalytics4Integration:
      description: Partially update Google Analytics 4 integration configuration
      type: object
      properties:
        enabled:
          description: Whether the integration is enabled
          type: boolean
        type:
          description: The type of the integration for categorization
          type: string
          enum:
          - analytics
        config_data:
          type: object
          $ref: '#/components/schemas/GoogleAnalytics4IntegrationConfigProperties'
      additionalProperties: false
      nullable: true
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    UpdatePortalIntegrations:
      description: Partially update configuration data for Dev Portal integrations
      type: object
      properties:
        google_tag_manager:
          $ref: '#/components/schemas/UpdateGoogleTagManagerIntegration'
        google_analytics_4:
          $ref: '#/components/schemas/UpdateGoogleAnalytics4Integration'
      default: {}
      additionalProperties: false
      title: Update Portal Integrations
    GoogleTagManagerIntegration:
      description: Google Tag Manager integration configuration
      type: object
      properties:
        enabled:
          description: Whether the integration is enabled
          type: boolean
        type:
          description: The type of the integration for categorization
          type: string
          enum:
          - tracking
        config_data:
          description: Configuration data for the Google Tag Manager integration
          type: object
          additionalProperties: false
          properties:
            id:
              description: The Google Tag Manager container ID
              type: string
              example: GTM-XXXXXX
              maxLength: 20
              minLength: 5
              pattern: ^GTM-[A-Za-z0-9]+$
              x-validation-message: 'must be a valid GTM container ID (format: GTM-XXXXXX)'
            l:
              description: Optional dataLayer variable name
              type: string
              example: myNewName
              maxLength: 100
              nullable: true
            preview:
              description: Preview environment name
              type: string
              example: preview
              maxLength: 100
              nullable: true
            cookies_win:
              description: Forces GTM cookies to take precedence when true
              type: boolean
              nullable: true
            debug:
              description: Enables debug mode when true
              type: boolean
              nullable: true
            npa:
              description: No Personal Advertising - disables advertising features when true
              type: boolean
              nullable: true
            data_layer:
              description: Custom dataLayer name (alternative to "l" property)
              type: string
              example: myNewName
              maxLength: 100
              nullable: true
            env_name:
              description: Environment name for environment-specific container
              type: string
              example: production
              maxLength: 100
              nullable: true
            auth_referrer_policy:
              description: Referrer policy for analytics requests
              type: string
              example: no-referrer
              maxLength: 100
              nullable: true
          required:
          - id
      additionalProperties: false
      nullable: true
      required:
      - enabled
      - type
      - config_data
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
  responses:
    PortalIntegrationsResponse:
      description: The current integration configurations for a portal.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalIntegrations'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
  requestBodies:
    UpdatePortalIntegrations:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UpdatePortalIntegrations'
    ReplacePortalIntegrations:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/PortalIntegrations'
  parameters:
    PortalId:
      schema:
        type: string
        format: uuid
        example: f32d905a-ed33-46a3-a093-d8f536af9a8a
      name: portalId
      in: path
      required: true
      description: ID of the portal.
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
