openapi: 3.1.0
info:
  contact:
    email: support@konghq.com
    name: Kong Inc
    url: https://konghq.com
  description: 'OpenAPI 3.0 spec for Kong Gateway''s Admin API.


    You can learn more about Kong Gateway at [developer.konghq.com](https://developer.konghq.com).

    Give Kong a star at the [Kong/kong](https://github.com/kong/kong) repository.'
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Kong Enterprise Admin ACLs System Accounts - Access Tokens API
  version: 3.14.0
servers:
- description: Default Admin API URL
  url: '{protocol}://{hostname}:{port}{path}'
  variables:
    hostname:
      default: localhost
      description: Hostname for Kong's Admin API
    path:
      default: /
      description: Base path for Kong's Admin API
    port:
      default: '8001'
      description: Port for Kong's Admin API
    protocol:
      default: http
      description: Protocol for requests to Kong's Admin API
      enum:
      - http
      - https
security:
- adminToken: []
tags:
- name: System Accounts - Access Tokens
paths:
  /v3/system-accounts/{accountId}/access-tokens:
    parameters:
    - name: accountId
      in: path
      description: ID of the system account.
      required: true
      schema:
        type: string
    get:
      operationId: get-system-account-id-access-tokens
      summary: List System Account Access Tokens
      description: Returns the access tokens for the specified system account. Returns 400 if any filter parameters are invalid.
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageNumber'
      - name: filter
        in: query
        description: Filter access tokens returned in the response.
        required: false
        schema:
          type: object
          properties:
            name:
              $ref: '#/components/schemas/LegacyStringFieldFilter'
        style: deepObject
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountAccessTokenCollection'
        '400':
          $ref: '#/components/responses/IdentityBadRequest'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      servers:
      - url: https://global.api.konghq.com/
      tags:
      - System Accounts - Access Tokens
    post:
      x-speakeasy-entity-operation:
        terraform-resource: SystemAccountAccessToken#create
        terraform-datasource: null
      operationId: post-system-accounts-id-access-tokens
      summary: Create System Account Access Token
      description: Creates an access token for the specified system account (SA). The access token can be used for authenticating API and CLI requests. The token will only be displayed once on creation. Returns a 409 if the system account already has a token with the same name.
      requestBody:
        $ref: '#/components/requestBodies/CreateSystemAccountAccessToken'
      responses:
        '201':
          $ref: '#/components/responses/SystemAccountAccessTokenCreated'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      servers:
      - url: https://global.api.konghq.com/
      tags:
      - System Accounts - Access Tokens
  /v3/system-accounts/{accountId}/access-tokens/{tokenId}:
    parameters:
    - name: accountId
      in: path
      description: ID of the system account.
      required: true
      schema:
        type: string
    - name: tokenId
      in: path
      description: ID of the system account access token.
      required: true
      schema:
        type: string
      x-speakeasy-match: id
    get:
      x-speakeasy-entity-operation:
        terraform-resource: SystemAccountAccessToken#read
        terraform-datasource: null
      operationId: get-system-accounts-id-access-tokens-id
      summary: Get a System Account Access Token
      description: Returns the system account (SA) access token for the SA Access Token ID specified as a path parameter.
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountAccessTokenSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      servers:
      - url: https://global.api.konghq.com/
      tags:
      - System Accounts - Access Tokens
    patch:
      x-speakeasy-entity-operation:
        terraform-resource: SystemAccountAccessToken#update
        terraform-datasource: null
      operationId: patch-system-accounts-id-access-tokens-id
      summary: Update System Account Access Token
      description: Updates the specified access token. Returns a 409 if the updated name is the same as another token belonging to the specified system user.
      requestBody:
        $ref: '#/components/requestBodies/UpdateSystemAccountAccessToken'
      responses:
        '200':
          $ref: '#/components/responses/SystemAccountAccessTokenSingle'
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
        '409':
          $ref: '#/components/responses/IdentityConflict'
      servers:
      - url: https://global.api.konghq.com/
      tags:
      - System Accounts - Access Tokens
    delete:
      x-speakeasy-entity-operation:
        terraform-resource: SystemAccountAccessToken#delete
        terraform-datasource: null
      operationId: delete-system-accounts-id-access-tokens-id
      summary: Delete System Account Access Token
      description: Deletes the specified token. Returns 404 if the token was not found.
      responses:
        '204':
          description: No Content
        '401':
          $ref: '#/components/responses/IdentityUnauthenticated'
        '403':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/IdentityNotFound'
      servers:
      - url: https://global.api.konghq.com/
      tags:
      - System Accounts - Access Tokens
components:
  schemas:
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    LegacyStringFieldFilter:
      description: 'Filter using **one** of the following operators: `eq`, `contains`'
      type: object
      properties:
        eq:
          description: The field exactly matches the provided value.
          type: string
        contains:
          description: The field contains the provided value.
          type: string
      additionalProperties: false
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    PaginatedMeta:
      description: returns the pagination information
      type: object
      properties:
        page:
          $ref: '#/components/schemas/PageMeta'
      required:
      - page
      title: PaginatedMeta
      x-speakeasy-terraform-ignore: true
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    SystemAccountAccessToken:
      x-speakeasy-entity: SystemAccountAccessToken
      description: Schema of the system account access token.
      type: object
      properties:
        id:
          description: ID of the system account access token.
          type: string
          format: uuid
          readOnly: true
        name:
          description: Name of the system account access token.
          type: string
        created_at:
          description: Timestamp of when the system account access token was created.
          type: string
          format: date-time
          readOnly: true
        updated_at:
          description: Timestamp of when the system account access token was last updated.
          type: string
          format: date-time
          readOnly: true
        expires_at:
          description: Timestamp of when the system account access token will expire.
          type: string
          format: date-time
          x-speakeasy-terraform-custom-type:
            imports:
            - github.com/Kong/shared-speakeasy/customtypes/timetypes
            schemaType: timetypes.RFC3339PreciseToSecondType{}
            valueType: timetypes.RFC3339PreciseToSecond
        last_used_at:
          description: Timestamp of when the system account access token was last used.
          type: string
          format: date-time
          readOnly: true
      example:
        id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
        name: Sample Access Token
        created_at: '2022-08-01T14:16:09Z'
        updated_at: '2022-08-02T08:35:49Z'
        expires_at: '2022-12-31T12:52:23Z'
        last_used_at: '2022-10-24T13:05:42Z'
      title: System Account Access Token
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    PageMeta:
      description: Contains pagination query parameters and the total number of objects returned.
      type: object
      properties:
        number:
          type: number
          example: 1
          x-speakeasy-terraform-ignore: true
        size:
          type: number
          example: 10
          x-speakeasy-terraform-ignore: true
        total:
          type: number
          example: 100
          x-speakeasy-terraform-ignore: true
      required:
      - number
      - size
      - total
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
  responses:
    SystemAccountAccessTokenSingle:
      description: A response including a single system account access token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/SystemAccountAccessToken'
    IdentityConflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    SystemAccountAccessTokenCollection:
      description: A paginated list response for a collection of system accounts access tokens.
      content:
        application/json:
          schema:
            type: object
            properties:
              meta:
                $ref: '#/components/schemas/PaginatedMeta'
              data:
                type: array
                items:
                  $ref: '#/components/schemas/SystemAccountAccessToken'
            title: System Account Access Token Collection Reponse
    IdentityUnauthenticated:
      description: Unauthenticated
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/UnauthorizedError'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    IdentityBadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    IdentityNotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
    SystemAccountAccessTokenCreated:
      description: A response including a single system account access token with the token.
      content:
        application/json:
          schema:
            x-speakeasy-entity: SystemAccountAccessToken
            type: object
            properties:
              id:
                description: ID of the system account access token.
                type: string
                format: uuid
                readOnly: true
              name:
                description: Name of the system account access token.
                type: string
              created_at:
                description: Timestamp of when the system account access token was created.
                type: string
                format: date-time
                readOnly: true
              updated_at:
                description: Timestamp of when the system account access token was last updated.
                type: string
                format: date-time
                readOnly: true
              expires_at:
                description: Timestamp of when the system account access token will expire.
                type: string
                format: date-time
                readOnly: true
                x-speakeasy-terraform-custom-type:
                  imports:
                  - github.com/Kong/shared-speakeasy/customtypes/timetypes
                  schemaType: timetypes.RFC3339PreciseToSecondType{}
                  valueType: timetypes.RFC3339PreciseToSecond
              last_used_at:
                description: Timestamp of when the system account access token was last used.
                type: string
                format: date-time
                readOnly: true
              token:
                description: The token of the system account access token.
                type: string
                readOnly: true
                x-sensitive: true
                x-speakeasy-param-sensitive: true
            example:
              id: 497f6eca-6276-4993-bfeb-53cbbbba6f08
              name: Sample Access Token
              created_at: '2022-08-01T14:16:09Z'
              updated_at: '2022-08-02T08:35:49Z'
              expires_at: '2022-12-31T12:52:23Z'
              last_used_at: '2022-10-24T13:05:42Z'
              token: spat_12345678901234567890123456789012345678901234567890
            title: System Account Access Token Created Response
  requestBodies:
    UpdateSystemAccountAccessToken:
      content:
        application/json:
          schema:
            x-speakeasy-entity: SystemAccountAccessToken
            type: object
            properties:
              name:
                description: Name of the system account access token.
                type: string
            required:
            - name
    CreateSystemAccountAccessToken:
      content:
        application/json:
          schema:
            x-speakeasy-entity: SystemAccountAccessToken
            type: object
            properties:
              name:
                type: string
              expires_at:
                type: string
                format: date-time
                x-speakeasy-terraform-custom-type:
                  imports:
                  - github.com/Kong/shared-speakeasy/customtypes/timetypes
                  schemaType: timetypes.RFC3339PreciseToSecondType{}
                  valueType: timetypes.RFC3339PreciseToSecond
            required:
            - name
            - expires_at
      description: The request body to create a system account access token.
  parameters:
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    PageNumber:
      name: page[number]
      description: Determines which page of the entities to retrieve.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 1
      x-speakeasy-terraform-ignore: true
  securitySchemes:
    adminToken:
      in: header
      name: Kong-Admin-Token
      type: apiKey
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
