openapi: 3.2.0
info:
  title: Konnect API - Go SDK MCP Servers API
  version: 3.14.0
  description: The Konnect platform API
  contact:
    name: Kong Inc
    url: https://konghq.com
    email: support@konghq.com
  x-extensions-note: "This API uses the `x-expression` vendor extension to indicate that a string property is a DSL expression.\nSupported types:\n\n\n  - `boolean`: An expression evaluates to boolean. For example, `context.topic.name == 'my-topic'`\n  - `string`: A template string expression that evaluates to a string or a literal string value. For example,\n    `${context.topic.name.substring(0, context.topic.name.length-4)}` or `my-literal-value`\n\nAdditionally, `x-sensitive` flag indicates that a field contains sensitive information. When the value\nof the field is provided in plain text, it's encrypted at rest and it's never returned in API responses.\nWhen the value is an expression, the expression itself is stored and returned in API responses.\n\n`x-min-runtime-version` indicates the minimum Event Gateway runtime version required to use a certain policy or\npolicy feature. The runtime version can be configured at the Event Gateway entity level. It must be a string\ncontaining a semantic version in the `MAJOR.MINOR` format, e.g., `\"1.1\"`.\n"
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  x-oas-source: kong/platform-api@
  x-oas-source-link: https://github.com/Kong/platform-api/commit/
servers:
- url: https://global.api.konghq.com
- url: https://us.api.konghq.com
- url: https://eu.api.konghq.com
- url: https://au.api.konghq.com
security:
- personalAccessToken: []
- systemAccountAccessToken: []
- konnectAccessToken: []
- serviceAccessToken: []
tags:
- name: MCP Servers
paths:
  /v1/mcp-cp/{controlPlaneId}/mcp-servers:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: list-mcp-servers-by-control-plane
      summary: List MCP Servers by Control Plane
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns an array of MCP server objects for the specified control plane.'
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/MCPServerCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListMCPServersCPInfoResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - MCP Servers
  /v1/mcp-cp/{controlPlaneId}/mcp-servers/{mcpServerId}:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/mcpServerId'
    get:
      operationId: get-mcp-server-by-control-plane
      summary: Get MCP Server by Control Plane
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves an MCP server by its ID within a specific control plane context.'
      responses:
        '200':
          description: A response to retrieving a single MCP server within a control plane context.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerCPInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
  /v1/mcp-cp/{controlPlaneId}/mcp-servers/{mcpServerId}/code:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/mcpServerId'
    get:
      operationId: get-mcp-server-code
      summary: Get generated Python code for the MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Generates MCP server Python code from the OpenAPI specifications associated with the MCP server.'
      responses:
        '200':
          description: Generated Python code for the MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerCodeResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
  /v1/mcp-cp/{controlPlaneId}/mcp-servers/{mcpServerId}/kong-entities:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/mcpServerId'
    get:
      operationId: get-mcp-server-kong-entities
      summary: Get Kong entities for the MCP Server Gateway
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Retrieves Kong entities (Routes, Services, Plugins) for the Gateway in front of the MCP Server.'
      parameters:
      - name: runtime_version
        in: query
        description: Kong Gateway runtime version to generate entities for
        required: false
        schema:
          type: string
          example: 3.13.0.0
      responses:
        '200':
          description: Kong entities for the MCP server
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KongEntitiesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
  /v1/mcp-cp/{controlPlaneId}/mcp-servers/{mcpServerId}/status:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    - $ref: '#/components/parameters/mcpServerId'
    post:
      operationId: post-mcp-server-status
      summary: Report MCP Server deployment status
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Reports the current deployment status of an MCP server, including replica counts and per-version pod statuses.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MCPServerStatusRequest'
      responses:
        '204':
          description: Status accepted.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
  /v1/mcp-cp/{controlPlaneId}/signals:
    parameters:
    - $ref: '#/components/parameters/controlPlaneId'
    get:
      operationId: get-mcp-server-signals
      summary: Get MCP Server Signals
      description: "**Pre-release Endpoint**\nThis endpoint is currently in beta and is subject to change.\n\nClient-initiated signals fetch with long-polling capabilities.\nThe client supplies `capabilities` as a deepObject query parameter:\n\n\n  - Keys are capability names (e.g. `mcp`)\n  - Values contain the capability request fields (`version`)\n\nExample:\n\n\n  GET /mcp-cp/{controlPlaneId}/signals?capabilities[mcp][version]=5\n\nThe CP responds with a JSON payload containing zero or more signals that the client should process.\nIf no signals are available, the CP responds with HTTP 304 Not Modified."
      parameters:
      - $ref: '#/components/parameters/MCPCapabilities'
      responses:
        '200':
          $ref: '#/components/responses/MCPServerSignalsResponse'
        '304':
          description: No signals available (client is up to date)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - MCP Servers
  /v1/mcp-servers:
    get:
      operationId: list-mcp-server-configs
      summary: List all MCP Servers
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns an array of MCP server objects.'
      parameters:
      - $ref: '#/components/parameters/PageSize'
      - $ref: '#/components/parameters/PageAfter'
      - $ref: '#/components/parameters/MCPServerCommonFilter'
      responses:
        '200':
          $ref: '#/components/responses/ListMCPServersResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
      tags:
      - MCP Servers
    post:
      operationId: create-mcp-server-config
      summary: Create an MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Create an MCP Server in the Konnect Organization.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMCPServerRequest'
      responses:
        '201':
          $ref: '#/components/responses/CreateMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
      - MCP Servers
  /v1/mcp-servers/{mcpServerId}:
    parameters:
    - $ref: '#/components/parameters/mcpServerId'
    get:
      operationId: get-mcp-server-config
      summary: Get MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns information about an individual MCP server.'
      responses:
        '200':
          description: A response to retrieving a single MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerInfo'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
    put:
      operationId: update-mcp-server-config
      summary: Update MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Update an individual MCP server.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateMCPServerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
      - MCP Servers
    patch:
      operationId: patch-mcp-server-config
      summary: Partially Update MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Partially update an individual MCP server.'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchMCPServerRequest'
      responses:
        '200':
          $ref: '#/components/responses/UpdateMCPServerResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
      tags:
      - MCP Servers
    delete:
      operationId: delete-mcp-server-config
      summary: Delete MCP Server
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Delete an MCP server.'
      responses:
        '204':
          description: Successfully deleted MCP server.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
  /v1/mcp-servers/{mcpServerId}/status:
    parameters:
    - $ref: '#/components/parameters/mcpServerId'
    get:
      operationId: get-mcp-server-status
      summary: Get MCP Server deployment status
      description: '**Pre-release Endpoint**

        This endpoint is currently in beta and is subject to change.


        Returns the current aggregated deployment status of an MCP server.'
      responses:
        '200':
          description: Deployment status of the MCP server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MCPServerStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
      tags:
      - MCP Servers
components:
  schemas:
    MCPServerStatusRequest:
      description: 'List of per-version deployment statuses for the MCP server.

        '
      type: array
      items:
        $ref: '#/components/schemas/MCPServerVersionStatus'
    BaseError:
      description: standard error
      type: object
      properties:
        status:
          description: 'The HTTP status code of the error. Useful when passing the response

            body to child properties in a frontend UI. Must be returned as an integer.

            '
          type: integer
          readOnly: true
        title:
          description: 'A short, human-readable summary of the problem. It should not

            change between occurences of a problem, except for localization.

            Should be provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
        type:
          description: The error type.
          type: string
          readOnly: true
        instance:
          description: 'Used to return the correlation ID back to the user, in the format

            kong:trace:<correlation_id>. This helps us find the relevant logs

            when a customer reports an issue.

            '
          type: string
          readOnly: true
        detail:
          description: 'A human readable explanation specific to this occurence of the problem.

            This field may contain request/entity data to help the user understand

            what went wrong. Enclose variable values in square brackets. Should be

            provided as "Sentence case" for direct use in the UI.

            '
          type: string
          readOnly: true
      required:
      - status
      - title
      - instance
      - detail
      title: Error
    BadRequestError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        required:
        - invalid_parameters
        properties:
          invalid_parameters:
            $ref: '#/components/schemas/InvalidParameters'
    InvalidParameterMinimumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - min_length
          - min_digits
          - min_lowercase
          - min_uppercase
          - min_symbols
          - min_items
          - min
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        minimum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must have at least 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - minimum
    UpdatedAt:
      description: An ISO-8601 timestamp representation of entity update date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    ListMCPServersResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MCPServerInfo'
        meta:
          $ref: '#/components/schemas/CursorMeta'
      required:
      - data
      - meta
    CreatedAt:
      description: An ISO-8601 timestamp representation of entity creation date.
      type: string
      format: date-time
      example: '2022-11-04T20:10:06.927Z'
      readOnly: true
      x-speakeasy-param-suppress-computed-diff: true
    PatchMCPServerRequest:
      type: object
      properties:
        name:
          description: The name of the MCP server.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: A description of the MCP server.
          type: string
          maxLength: 1024
          nullable: true
        labels:
          description: Labels for the MCP server.
          type: object
          additionalProperties:
            type: string
          nullable: true
        deployed_at:
          description: The timestamp when the MCP server was deployed.
          type: string
          format: date-time
          nullable: true
        control_plane_id:
          description: The control plane ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
        resource_id:
          description: The MCP resource ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
    KongEntitiesResponse:
      type: object
      properties:
        routes:
          type: array
          items:
            $ref: '#/components/schemas/KongRoute'
        services:
          type: array
          items:
            $ref: '#/components/schemas/KongService'
      required:
      - routes
      - services
    CursorMetaPage:
      type: object
      properties:
        first:
          description: URI to the first page
          type: string
          format: path
        last:
          description: URI to the last page
          type: string
          format: path
        next:
          description: URI to the next page
          type: string
          format: path
          nullable: true
        previous:
          description: URI to the previous page
          type: string
          format: path
          nullable: true
        size:
          description: Requested page size
          type: number
          example: 10
      required:
      - size
      - next
      - previous
    UnauthorizedError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 401
          title:
            example: Unauthorized
          type:
            example: https://httpstatuses.com/401
          instance:
            example: kong:trace:1234567890
          detail:
            example: Invalid credentials
    NotFoundError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 404
          title:
            example: Not Found
          type:
            example: https://httpstatuses.com/404
          instance:
            example: kong:trace:1234567890
          detail:
            example: Not found
    KongService:
      type: object
      properties:
        id:
          description: Service ID
          type: string
          format: uuid
        name:
          description: Service name
          type: string
          example: mcp-test-service
        protocol:
          description: The protocol used to communicate with the Service.
          type: string
          example: https
        host:
          description: Service host
          type: string
          example: mcp-test-service.svc.cluster.local
        port:
          description: Service port
          type: integer
          example: 80
          maximum: 65535
          minimum: 1
        path:
          description: Service path
          type: string
          example: /
      required:
      - name
      - protocol
      - host
      - port
      - path
    MCPServerInfo:
      type: object
      properties:
        id:
          description: The unique identifier for the MCP server.
          type: string
          format: uuid
        name:
          description: The name of the MCP server.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: A description of the MCP server.
          type: string
          maxLength: 1024
        labels:
          description: Labels for the MCP server.
          type: object
          additionalProperties:
            type: string
        deployed_at:
          description: The timestamp when the MCP server was deployed.
          type: string
          format: date-time
        control_plane_id:
          description: The control plane ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
        resource_id:
          description: The MCP resource ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
        version:
          description: The version of the MCP server.
          type: string
        created_at:
          $ref: '#/components/schemas/CreatedAt'
        updated_at:
          $ref: '#/components/schemas/UpdatedAt'
      required:
      - id
      - name
      - created_at
      - updated_at
      - version
    MCPServerSignalV1:
      description: 'Signal notifying the client that the MCP control plane config has changed.

        '
      type: object
      properties:
        type:
          type: string
          enum:
          - mcp
        version:
          description: The current version of the MCP control plane.
          type: string
        offset:
          description: The offset for the MCP signal.
          type: string
      example:
        type: mcp
        version: v1
        offset: '6'
      additionalProperties: false
      required:
      - type
      - version
      - offset
    UpdateMCPServerRequest:
      type: object
      properties:
        name:
          description: The name of the MCP server.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: A description of the MCP server.
          type: string
          maxLength: 1024
        labels:
          description: Labels for the MCP server.
          type: object
          additionalProperties:
            type: string
        control_plane_id:
          description: The control plane ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
        resource_id:
          description: The MCP resource ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
      required:
      - name
    CreateMCPServerRequest:
      type: object
      properties:
        name:
          description: The name of the MCP server.
          type: string
          maxLength: 256
          minLength: 1
        description:
          description: A description of the MCP server.
          type: string
          maxLength: 1024
        labels:
          description: Labels for the MCP server.
          type: object
          additionalProperties:
            type: string
        control_plane_id:
          description: The control plane ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
        resource_id:
          description: The MCP resource ID associated with the MCP server.
          type: string
          format: uuid
          nullable: true
      required:
      - name
    MCPServerCPInfo:
      allOf:
      - $ref: '#/components/schemas/MCPServerInfo'
      - type: object
        properties:
          container:
            allOf:
            - $ref: '#/components/schemas/ContainerSpec'
            - description: Configuration for the main container.
          init_container:
            allOf:
            - $ref: '#/components/schemas/ContainerSpec'
            - description: Configuration for the init container.
    StringFieldContainsFilter:
      description: Filters on the given string field value by fuzzy match.
      type: object
      properties:
        contains:
          type: string
      additionalProperties: false
      required:
      - contains
      title: StringFieldContainsFilter
    MCPCapabilityRequest:
      type: object
      properties:
        version:
          description: The version of the capability schema (e.g., v1).
          type: string
        offset:
          description: The version of the control plane known by the client.
          type: string
      additionalProperties: false
      required:
      - version
    InvalidParameterMaximumLength:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - max_length
          - max_items
          - max
          nullable: false
          readOnly: true
          x-speakeasy-unknown-values: allow
        maximum:
          type: integer
          example: 8
        source:
          type: string
          example: body
        reason:
          type: string
          example: must not have more than 8 characters
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - maximum
    ContainerSpec:
      type: object
      properties:
        image:
          description: The container image to use.
          type: string
    InvalidParameterStandard:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          $ref: '#/components/schemas/InvalidRules'
        source:
          type: string
          example: body
        reason:
          type: string
          example: is a required field
          readOnly: true
      additionalProperties: false
      required:
      - field
      - reason
    MCPServerCodeResponse:
      type: object
      properties:
        code:
          description: Generated Python code for the MCP server implementation
          type: string
          example: print("Hello MCP")
      required:
      - code
    InvalidRules:
      description: invalid parameters rules
      type: string
      enum:
      - required
      - is_array
      - is_base64
      - is_boolean
      - is_date_time
      - is_integer
      - is_null
      - is_number
      - is_object
      - is_string
      - is_uuid
      - is_fqdn
      - is_arn
      - unknown_property
      - missing_reference
      - is_label
      - matches_regex
      - invalid
      - is_supported_network_availability_zone_list
      - is_supported_network_cidr_block
      - is_supported_provider_region
      - type
      nullable: true
      readOnly: true
      x-speakeasy-unknown-values: allow
    InvalidParameterChoiceItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - enum
          nullable: false
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        choices:
          type: array
          items: {}
          minItems: 1
          nullable: false
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - reason
      - rule
      - choices
    ListMCPServersCPInfoResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/MCPServerCPInfo'
        meta:
          $ref: '#/components/schemas/CursorMeta'
      required:
      - data
      - meta
    KongRoute:
      type: object
      properties:
        id:
          description: Route ID
          type: string
          format: uuid
        name:
          description: Route name
          type: string
          example: mcp-test-route-jsonrpc
        service:
          description: Reference to the service
          type: object
          properties:
            id:
              type: string
              format: uuid
        paths:
          description: Request paths
          type: array
          items:
            type: string
          example:
          - /mcp/test-service
        methods:
          description: HTTP methods
          type: array
          items:
            type: string
          example:
          - POST
      required:
      - name
      - paths
      - methods
    MCPServerPodsStatus:
      type: object
      properties:
        ready:
          description: Number of pods in the ready state.
          type: integer
          example: 2
          minimum: 0
        starting:
          description: Number of pods in the starting state.
          type: integer
          example: 0
          minimum: 0
        failing:
          description: Number of pods in the failing state.
          type: integer
          example: 0
          minimum: 0
      required:
      - ready
      - starting
      - failing
    MCPServerSignal:
      description: A single signal envelope containing exactly one typed capability signal.
      discriminator:
        propertyName: type
        mapping:
          mcp: '#/components/schemas/MCPServerSignalV1'
      oneOf:
      - $ref: '#/components/schemas/MCPServerSignalV1'
    InvalidParameters:
      description: invalid parameters
      type: array
      items:
        oneOf:
        - $ref: '#/components/schemas/InvalidParameterStandard'
        - $ref: '#/components/schemas/InvalidParameterMinimumLength'
        - $ref: '#/components/schemas/InvalidParameterMaximumLength'
        - $ref: '#/components/schemas/InvalidParameterChoiceItem'
        - $ref: '#/components/schemas/InvalidParameterDependentItem'
      minItems: 1
      nullable: false
      uniqueItems: true
    CursorMeta:
      description: Pagination metadata.
      type: object
      properties:
        page:
          $ref: '#/components/schemas/CursorMetaPage'
      required:
      - page
    ForbiddenError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 403
          title:
            example: Forbidden
          type:
            example: https://httpstatuses.com/403
          instance:
            example: kong:trace:1234567890
          detail:
            example: Forbidden
    ConflictError:
      allOf:
      - $ref: '#/components/schemas/BaseError'
      - type: object
        properties:
          status:
            example: 409
          title:
            example: Conflict
          type:
            example: https://httpstatuses.com/409
          instance:
            example: kong:trace:1234567890
          detail:
            example: Conflict
    InvalidParameterDependentItem:
      type: object
      properties:
        field:
          type: string
          example: name
          readOnly: true
        rule:
          description: invalid parameters rules
          type: string
          enum:
          - dependent_fields
          nullable: true
          readOnly: true
        reason:
          type: string
          example: is a required field
          readOnly: true
        dependents:
          type: array
          items: {}
          nullable: true
          readOnly: true
          uniqueItems: true
        source:
          type: string
          example: body
      additionalProperties: false
      required:
      - field
      - rule
      - reason
      - dependents
    MCPServerSignals:
      description: The MCP server signals response.
      type: object
      properties:
        signals:
          description: A list of signals for the MCP server.
          type: array
          items:
            $ref: '#/components/schemas/MCPServerSignal'
      required:
      - signals
    MCPCapabilitiesMap:
      description: "Map of capability name -> capability request fields.\n\nExample:\n  {\n    \"mcp\": { \"version\": \"v1\", \"offset\": \"5\" }\n  }\n"
      type: object
      properties:
        mcp:
          $ref: '#/components/schemas/MCPCapabilityRequest'
    MCPServerVersionStatus:
      type: object
      properties:
        version:
          description: The version identifier of the MCP server deployment.
          type: string
          example: v1
        desired_replicas:
          description: The desired number of replicas for this version.
          type: integer
          example: 2
          minimum: 0
        created_replicas:
          description: The number of replicas that have been created for this version.
          type: integer
          example: 2
          minimum: 0
        pods_status:
          $ref: '#/components/schemas/MCPServerPodsStatus'
      required:
      - version
      - desired_replicas
      - created_replicas
      - pods_status
    MCPServerStatusResponse:
      type: object
      properties:
        status:
          description: 'Aggregated deployment status of the MCP server.

            - `deploying` — single version with desired replicas not yet fully ready.

            - `healthy` — single version running with no failing pods.

            - `pending` — no deployment status has been reported yet.

            - `unhealthy` — one or more failing pods across any version.

            - `upgrading` — multiple versions running with no failing pods.'
          type: string
          example: healthy
          enum:
          - deploying
          - healthy
          - pending
          - unhealthy
          - upgrading
          x-speakeasy-unknown-values: allow
      required:
      - status
  responses:
    ListMCPServersCPInfoResponse:
      description: A response to listing MCP servers with CP info.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListMCPServersCPInfoResponse'
    ListMCPServersResponse:
      description: A response to listing MCP servers.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ListMCPServersResponse'
    Unauthorized:
      description: Unauthorized
      content:
        application/problem+json:
          schema:
            description: The error response object.
            type: object
            properties:
              status:
                description: The HTTP status code.
                type: integer
                example: 403
              title:
                description: The Error Response.
                type: string
                example: Unauthorized
              instance:
                description: The Konnect traceback code.
                type: string
                example: konnect:trace:952172606039454040
              detail:
                description: Details about the error response.
                type: string
                example: You do not have permission to perform this action
            $ref: '#/components/schemas/UnauthorizedError'
            title: Unauthorized Response
    BadRequest:
      description: Bad Request
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/BadRequestError'
    MCPServerSignalsResponse:
      description: The MCP server signals response.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCPServerSignals'
    Forbidden:
      description: Forbidden
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ForbiddenError'
    CreateMCPServerResponse:
      description: A response to creating an MCP server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCPServerInfo'
    Conflict:
      description: Conflict
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/ConflictError'
    UpdateMCPServerResponse:
      description: A response to updating an MCP server.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/MCPServerInfo'
    NotFound:
      description: Not Found
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/NotFoundError'
  parameters:
    mcpServerId:
      name: mcpServerId
      in: path
      required: true
      description: The ID of the MCP server.
      schema:
        type: string
        format: uuid
    MCPServerCommonFilter:
      schema:
        type: object
        properties:
          name:
            $ref: '#/components/schemas/StringFieldContainsFilter'
      in: query
      name: filter
      description: Filter documents returned in the response.
      required: false
      style: deepObject
    PageAfter:
      name: page[after]
      description: Request the next page of data, starting with the item after this parameter.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: string
        example: ewogICJpZCI6ICJoZWxsbyB3b3JsZCIKfQ
    PageSize:
      name: page[size]
      description: The maximum number of items to include per page. The last page of a collection may include fewer items.
      required: false
      in: query
      allowEmptyValue: true
      schema:
        type: integer
        example: 10
      x-speakeasy-terraform-ignore: true
    controlPlaneId:
      name: controlPlaneId
      in: path
      required: true
      schema:
        type: string
        format: uuid
        example: 9524ec7d-36d9-465d-a8c5-83a3c9390458
      description: The UUID of your control plane. This variable is available in the Konnect manager.
      x-speakeasy-param-force-new: true
    MCPCapabilities:
      name: capabilities
      in: query
      style: deepObject
      explode: true
      description: 'Capability requests as a deepObject map.

        - Keys are capability names (e.g. `mcp`).

        - Values contain the capability request fields (`version`).

        '
      schema:
        $ref: '#/components/schemas/MCPCapabilitiesMap'
      example:
        mcp:
          version: '5'
  securitySchemes:
    personalAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: The personal access token is meant to be used as an alternative to basic-auth when accessing Konnect via APIs. You can generate a Personal Access Token (PAT) from the personal access token page in the Konnect dashboard.
    systemAccountAccessToken:
      type: http
      scheme: bearer
      bearerFormat: Token
      description: 'The system account access token is meant for automations and integrations that are not directly associated with a human identity.

        You can generate a system account Access Token by creating a system account and then obtaining a system account access token for that account.

        The access token must be passed in the header of a request, for example:

        `curl -X GET ''https://global.api.konghq.com/v2/users/'' --header ''Authorization: Bearer spat_i2Ej...''`

        '
    konnectAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: The Konnect access token is meant to be used by the Konnect dashboard and the decK CLI to authenticate with.
    serviceAccessToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'The Service access token is meant to be used between internal services.

        '
externalDocs:
  description: Documentation for Kong Gateway and its APIs
  url: https://developer.konghq.com
